# Programming for Data Aanlysis Assignement

Study Level

In [278]:
# import pandas
import pandas as pd
import numpy as np
# read the dataset 
# https://www.w3schools.com/python/pandas/pandas_csv.asp
Instruction_level_italy = pd.read_csv('DataSet/Instruction_level_italy.csv')
# Check the colums in the dataset 
#https://www.geeksforgeeks.org/how-to-get-column-names-in-pandas-dataframe/
print(Instruction_level_italy.keys())
# select only female
# unique value of the column 'Tipo dato' and 'SEXISTAT1'
Instruction_level_italy[['Territorio','SEXISTAT1','Sesso']].sample(20)

Index(['ITTER107', 'Territorio', 'TIPO_DATO_FOL', 'Tipo dato', 'SEXISTAT1',
       'Sesso', 'ETA1', 'Classe di et√†', 'TITOLO_STUDIO', 'Titolo di studio',
       'TIME', 'Seleziona periodo', 'Value', 'Flag Codes', 'Flags'],
      dtype='object')

       Territorio  SEXISTAT1    Sesso
7708       Italia          9   totale
7480  Mezzogiorno          2  femmine
6172       Centro          2  femmine
6292  Mezzogiorno          1   maschi
5272   Nord-ovest          9   totale
4811   Nord-ovest          1   maschi
5635         Nord          2  femmine
1109       Italia          9   totale
6277       Centro          9   totale
2243  Mezzogiorno          2  femmine
1600         Nord          9   totale
1517         Nord          1   maschi
2250  Mezzogiorno          2  femmine
1100       Italia          2  femmine
7015     Nord-est          1   maschi
3951   Nord-ovest          1   maschi
8457  Mezzogiorno          1   maschi
6160       Centro          1   maschi
7440  Mezzogiorno          2  femmine
206          Nord          1   maschi

#

as first data cleaning we need only the territory marked 'Italia', as the probability will be applied considering the full italia territory, and the femine sex. Femin sex corrispond to the value 2 of the sexistat1 column.

In [279]:
Instruction_level_italy['Territorio'].value_counts()

Territorio
Italia         1438
Nord           1438
Nord-est       1438
Centro         1438
Mezzogiorno    1438
Nord-ovest     1434
Name: count, dtype: int64

In [280]:
Instruction_level_italy[['Value']].sum()

Value    14747642.7
dtype: float64

In [281]:
Instruction_level_italy.groupby('Territorio')['Value'].sum().reset_index()

    Territorio        Value
0       Centro  1194029.771
1       Italia  5999343.718
2  Mezzogiorno  2056358.925
3         Nord  2748955.103
4     Nord-est  1154308.126
5   Nord-ovest  1594647.057

In [282]:
# check if the sum Nord-ovest and nord- est id equal to Nord

filter_list = ['Nord-est', 'Nord-ovest']
filtered_rows = Instruction_level_italy[Instruction_level_italy['Territorio'].isin(filter_list)]
sum_nord_est_ovest = filtered_rows['Value'].sum()
sum_nord_est_ovest

2748955.183

In [283]:
# remove the Nord-Ovest, Nord Est value 

filter_list = ['Nord-est', 'Nord-ovest', 'Italia']
Instruction_level_italy = Instruction_level_italy.loc[~Instruction_level_italy['Territorio'].isin(filter_list )]
Instruction_level_italy.groupby('Territorio')['Value'].sum().reset_index()

    Territorio        Value
0       Centro  1194029.771
1  Mezzogiorno  2056358.925
2         Nord  2748955.103

In [284]:
#https://www.shanelynn.ie/pandas-iloc-loc-select-rows-and-columns-dataframe/
#Instruction_level_italy = Instruction_level_italy.loc[Instruction_level_italy['Territorio'] == 'Italia']
#print(Instruction_level_italy['Territorio'].value_counts())

In [285]:
Instruction_level_italy[['Value']].sum()

Value    5999343.799
dtype: float64

In [286]:
#https://deallen7.medium.com/using-pandas-loc-and-isin-to-filter-for-a-list-of-values-in-python-a1c862054058

Instruction_level_italy = Instruction_level_italy.loc[Instruction_level_italy['Sesso'] == 'femmine']
print(Instruction_level_italy['Sesso'].value_counts())

Sesso
femmine    1437
Name: count, dtype: int64

In [287]:
Instruction_level_italy[['Value']].sum()

Value    1537557.463
dtype: float64

In [288]:
Instruction_level_italy[['Territorio','SEXISTAT1','Sesso']].sample(20)

       Territorio  SEXISTAT1    Sesso
2261  Mezzogiorno          2  femmine
7298       Centro          2  femmine
4682       Centro          2  femmine
1549         Nord          2  femmine
262          Nord          2  femmine
798        Centro          2  femmine
2412         Nord          2  femmine
7276       Centro          2  femmine
8525  Mezzogiorno          2  femmine
5628         Nord          2  femmine
7462  Mezzogiorno          2  femmine
7296       Centro          2  femmine
6371  Mezzogiorno          2  femmine
2769  Mezzogiorno          2  femmine
8539  Mezzogiorno          2  femmine
7289       Centro          2  femmine
5115       Centro          2  femmine
6216       Centro          2  femmine
3753  Mezzogiorno          2  femmine
289          Nord          2  femmine

In [289]:
Instruction_level_italy[['Value']].sum()

Value    1537557.463
dtype: float64

In [290]:
Instruction_level_italy

,ITTER107,Territorio,TIPO_DATO_FOL,Tipo dato,SEXISTAT1,Sesso,ETA1,Classe di et√†,TITOLO_STUDIO,Titolo di studio,TIME,Seleziona periodo,Value,Flag Codes,Flags
240,ITCD,Nord,POP_15,popolazione 15 anni e oltre (migliaia),2,femmine,Y_GE15,15 anni e pi√π,3,"licenza di scuola elementare, nessun titolo di...",2019,2019,2146.380,NaN,NaN
241,ITCD,Nord,POP_15,popolazione 15 anni e oltre (migliaia),2,femmine,Y_GE15,15 anni e pi√π,3,"licenza di scuola elementare, nessun titolo di...",2019-Q1,T1-2019,2176.830,NaN,NaN
242,ITCD,Nord,POP_15,popolazione 15 anni e oltre (migliaia),2,femmine,Y_GE15,15 anni e pi√π,3,"licenza di scuola elementare, nessun titolo di...",2019-Q2,T2-2019,2171.557,NaN,NaN
243,ITCD,Nord,POP_15,popolazione 15 anni e oltre (migliaia),2,femmine,Y_GE15,15 anni e pi√π,3,"licenza di scuola elementare, nessun titolo di...",2019-Q4,T4-2019,2094.680,NaN,NaN
244,ITCD,Nord,POP_15,popolazione 15 anni e oltre (migliaia),2,femmine,Y_GE15,15 anni e pi√π,3,"licenza di scuola elementare, nessun titolo di...",2019-Q3,T3-2019,2142.452,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8559,ITFG,Mezzogiorno,POP_15,popolazione 15 anni e oltre (migliaia),2,femmine,Y35-64,35-64 anni,99,totale,2020,2020,4449.030,NaN,NaN
8560,ITFG,Mezzogiorno,POP_15,popolazione 15 anni e oltre (migliaia),2,femmine,Y35-64,35-64 anni,99,totale,2020-Q2,T2-2020,4452.168,NaN,NaN
8561,ITFG,Mezzogiorno,POP_15,popolazione 15 anni e oltre (migliaia),2,femmine,Y35-64,35-64 anni,99,totale,2020-Q1,T1-2020,4452.770,NaN,NaN
8562,ITFG,Mezzogiorno,POP_15,popolazione 15 anni e oltre (migliaia),2,femmine,Y35-64,35-64 anni,99,totale,2020-Q3,T3-2020,4449.834,NaN,NaN
8563,ITFG,Mezzogiorno,POP_15,popolazione 15 anni e oltre (migliaia),2,femmine,Y35-64,35-64 anni,99,totale,2020-Q4,T4-2020,4441.347,NaN,NaN

In [291]:
# check unique calue of the columns ['TIPO_DATO_FOL', 'Tipo dato'] to see if they are relevant
np.unique(Instruction_level_italy[['TIPO_DATO_FOL', 'Tipo dato']].values)

array(['POP_15', 'popolazione 15 anni e oltre (migliaia)'], dtype=object)

In [292]:
Instruction_level_italy[['Value']].sum()

Value    1537557.463
dtype: float64

In [293]:
# remove column 'TIPO_DATO_FOL' and 'Tipo dato' as not relevant 
Instruction_level_italy = Instruction_level_italy.drop(columns=['TIPO_DATO_FOL', 'Tipo dato', 'ITTER107', 'Territorio', 'Flags', 'Flag Codes'])
# check unique value of the colum time, for our analysis we will need only full year data 
np.unique(Instruction_level_italy[['TIME']].values)

array(['2019', '2019-Q1', '2019-Q2', '2019-Q3', '2019-Q4', '2020',
       '2020-Q1', '2020-Q2', '2020-Q3', '2020-Q4'], dtype=object)

In [294]:
Instruction_level_italy[['Value']].sum()

Value    1537557.463
dtype: float64

In [295]:
# kepping only 2020 value 
#https://deallen7.medium.com/using-pandas-loc-and-isin-to-filter-for-a-list-of-values-in-python-a1c862054058
Instruction_level_italy = Instruction_level_italy.loc[Instruction_level_italy['TIME'] == '2020']
print(Instruction_level_italy['TIME'].value_counts())

TIME
2020    288
Name: count, dtype: int64

In [296]:
Instruction_level_italy[['Value']].sum()

Value    184291.114
dtype: float64

In [297]:
# check the column related to the instruction level
Instruction_level_italy.groupby(['TITOLO_STUDIO', 'Titolo di studio'])[['Value']].sum().reset_index()

   TITOLO_STUDIO                                   Titolo di studio      Value
0              3  licenza di scuola elementare, nessun titolo di...  12148.883
1              4                            licenza di scuola media  28197.382
2              5         diploma 2-3 anni (qualifica professionale)   4922.835
3              6                        diploma 4-5 anni (maturit√†)  30040.453
4             11                               laurea e post-laurea  16836.009
5             99                                             totale  92145.552

In [298]:
# remove the total from the value 
Instruction_level_italy = Instruction_level_italy.drop(Instruction_level_italy[Instruction_level_italy['TITOLO_STUDIO'] == 99].index)
Instruction_level_italy.groupby(['TITOLO_STUDIO', 'Titolo di studio'])[['Value']].sum().reset_index()

   TITOLO_STUDIO                                   Titolo di studio      Value
0              3  licenza di scuola elementare, nessun titolo di...  12148.883
1              4                            licenza di scuola media  28197.382
2              5         diploma 2-3 anni (qualifica professionale)   4922.835
3              6                        diploma 4-5 anni (maturit√†)  30040.453
4             11                               laurea e post-laurea  16836.009

In [299]:
Instruction_level_italy

,SEXISTAT1,Sesso,ETA1,Classe di et√†,TITOLO_STUDIO,Titolo di studio,TIME,Seleziona periodo,Value
245,2,femmine,Y_GE15,15 anni e pi√π,3,"licenza di scuola elementare, nessun titolo di...",2020,2020,2098.263
255,2,femmine,Y_GE15,15 anni e pi√π,4,licenza di scuola media,2020,2020,3616.523
265,2,femmine,Y_GE15,15 anni e pi√π,5,diploma 2-3 anni (qualifica professionale),2020,2020,1014.264
275,2,femmine,Y_GE15,15 anni e pi√π,6,diploma 4-5 anni (maturit√†),2020,2020,3493.993
285,2,femmine,Y_GE15,15 anni e pi√π,11,laurea e post-laurea,2020,2020,2118.933
...,...,...,...,...,...,...,...,...,...
8509,2,femmine,Y35-64,35-64 anni,3,"licenza di scuola elementare, nessun titolo di...",2020,2020,529.861
8519,2,femmine,Y35-64,35-64 anni,4,licenza di scuola media,2020,2020,1679.424
8529,2,femmine,Y35-64,35-64 anni,5,diploma 2-3 anni (qualifica professionale),2020,2020,102.017
8539,2,femmine,Y35-64,35-64 anni,6,diploma 4-5 anni (maturit√†),2020,2020,1422.804
8549,2,femmine,Y35-64,35-64 anni,11,laurea e post-laurea,2020,2020,714.923

In [300]:
np.unique(Instruction_level_italy[['Classe di et√†']].values)

array(['15 anni e pi√π', '15-19 anni', '15-24 anni', '15-64 anni',
       '20-24 anni', '25-29 anni', '25-34 anni', '30-34 anni',
       '35-39 anni', '35-64 anni', '40-44 anni', '45-49 anni',
       '50-54 anni', '55-59 anni', '60-64 anni', '65 anni e pi√π'],
      dtype=object)

In [301]:
# https://sentry.io/answers/select-rows-from-a-python-pandas-dataframe-based-on-column-values/
# Drop age until 24 to have a clear indication of 3 levels of education in a realistic age timeframe 
Instruction_level_italy = Instruction_level_italy.loc[Instruction_level_italy['Classe di et√†'] == '15 anni e pi√π']
Instruction_level_italy.groupby('Classe di et√†')['Value'].sum().reset_index()

   Classe di et√†      Value
0  15 anni e pi√π  26893.943

In [302]:
Total_observation = Instruction_level_italy['Value'].sum()
print(Total_observation)

# Apply the custom function to create the new column
Instruction_level_italy['Probability%'] = Instruction_level_italy['Value'] / Total_observation

Instruction_level_italy

26893.943

C:\Users\anton\AppData\Local\Temp\ipykernel_20400\983875859.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Instruction_level_italy['Probability%'] = Instruction_level_italy['Value'] / Total_observation

,SEXISTAT1,Sesso,ETA1,Classe di et√†,TITOLO_STUDIO,Titolo di studio,TIME,Seleziona periodo,Value,Probability%
245,2,femmine,Y_GE15,15 anni e pi√π,3,"licenza di scuola elementare, nessun titolo di...",2020,2020,2098.263,0.078020
255,2,femmine,Y_GE15,15 anni e pi√π,4,licenza di scuola media,2020,2020,3616.523,0.134474
265,2,femmine,Y_GE15,15 anni e pi√π,5,diploma 2-3 anni (qualifica professionale),2020,2020,1014.264,0.037713
275,2,femmine,Y_GE15,15 anni e pi√π,6,diploma 4-5 anni (maturit√†),2020,2020,3493.993,0.129917
285,2,femmine,Y_GE15,15 anni e pi√π,11,laurea e post-laurea,2020,2020,2118.933,0.078788
785,2,femmine,Y_GE15,15 anni e pi√π,3,"licenza di scuola elementare, nessun titolo di...",2020,2020,950.903,0.035358
795,2,femmine,Y_GE15,15 anni e pi√π,4,licenza di scuola media,2020,2020,1401.630,0.052117
805,2,femmine,Y_GE15,15 anni e pi√π,5,diploma 2-3 anni (qualifica professionale),2020,2020,185.631,0.006902
815,2,femmine,Y_GE15,15 anni e pi√π,6,diploma 4-5 anni (maturit√†),2020,2020,1788.921,0.066518
825,2,femmine,Y_GE15,15 anni e pi√π,11,laurea e post-laurea,2020,2020,1085.297,0.040355
965,2,femmine,Y_GE15,15 anni e pi√π,3,"licenza di scuola elementare, nessun titolo di...",2020,2020,2119.578,0.078812
975,2,femmine,Y_GE15,15 anni e pi√π,4,licenza di scuola media,2020,2020,2861.651,0.106405
985,2,femmine,Y_GE15,15 anni e pi√π,5,diploma 2-3 anni (qualifica professionale),2020,2020,160.184,0.005956
995,2,femmine,Y_GE15,15 anni e pi√π,6,diploma 4-5 anni (maturit√†),2020,2020,2739.056,0.101847
1005,2,femmine,Y_GE15,15 anni e pi√π,11,laurea e post-laurea,2020,2020,1259.116,0.046818

In [303]:
# check the column related to the instruction level
Instruction_level_italy.groupby(['TITOLO_STUDIO', 'Titolo di studio'])[['Value','Probability%']].sum().reset_index()

,TITOLO_STUDIO,Titolo di studio,Value,Probability%
0,3,"licenza di scuola elementare, nessun titolo di...",5168.744,0.192190
1,4,licenza di scuola media,7879.804,0.292995
2,5,diploma 2-3 anni (qualifica professionale),1360.079,0.050572
3,6,diploma 4-5 anni (maturit√†),8021.970,0.298282
4,11,laurea e post-laurea,4463.346,0.165961

In [ ]:
w

In [306]:
Instruction_level_italy['Probability%'].sum()

0.9999999999999999

In [305]:
Instruction_level_italy

,SEXISTAT1,Sesso,ETA1,Classe di et√†,TITOLO_STUDIO,Titolo di studio,TIME,Seleziona periodo,Value,Probability%
245,2,femmine,Y_GE15,15 anni e pi√π,3,"licenza di scuola elementare, nessun titolo di...",2020,2020,2098.263,0.078020
255,2,femmine,Y_GE15,15 anni e pi√π,4,licenza di scuola media,2020,2020,3616.523,0.134474
265,2,femmine,Y_GE15,15 anni e pi√π,5,diploma 2-3 anni (qualifica professionale),2020,2020,1014.264,0.037713
275,2,femmine,Y_GE15,15 anni e pi√π,6,diploma 4-5 anni (maturit√†),2020,2020,3493.993,0.129917
285,2,femmine,Y_GE15,15 anni e pi√π,11,laurea e post-laurea,2020,2020,2118.933,0.078788
785,2,femmine,Y_GE15,15 anni e pi√π,3,"licenza di scuola elementare, nessun titolo di...",2020,2020,950.903,0.035358
795,2,femmine,Y_GE15,15 anni e pi√π,4,licenza di scuola media,2020,2020,1401.630,0.052117
805,2,femmine,Y_GE15,15 anni e pi√π,5,diploma 2-3 anni (qualifica professionale),2020,2020,185.631,0.006902
815,2,femmine,Y_GE15,15 anni e pi√π,6,diploma 4-5 anni (maturit√†),2020,2020,1788.921,0.066518
825,2,femmine,Y_GE15,15 anni e pi√π,11,laurea e post-laurea,2020,2020,1085.297,0.040355
965,2,femmine,Y_GE15,15 anni e pi√π,3,"licenza di scuola elementare, nessun titolo di...",2020,2020,2119.578,0.078812
975,2,femmine,Y_GE15,15 anni e pi√π,4,licenza di scuola media,2020,2020,2861.651,0.106405
985,2,femmine,Y_GE15,15 anni e pi√π,5,diploma 2-3 anni (qualifica professionale),2020,2020,160.184,0.005956
995,2,femmine,Y_GE15,15 anni e pi√π,6,diploma 4-5 anni (maturit√†),2020,2020,2739.056,0.101847
1005,2,femmine,Y_GE15,15 anni e pi√π,11,laurea e post-laurea,2020,2020,1259.116,0.046818

In [ ]:
# add a colum for numeric value titolo di sutdio 
Instruction_level_italy['Study_3_level'] = Instruction_level_italy['Value'] / Total_observation

In [ ]:
#https://www.geeksforgeeks.org/pandas-groupby-and-sum/

conditions = [
    (Instruction_level_italy["TITOLO_STUDIO"] <= 4),
    (Instruction_level_italy["TITOLO_STUDIO"] >4) & (Instruction_level_italy["TITOLO_STUDIO"] <11),
    (Instruction_level_italy["TITOLO_STUDIO"] = 4)]

In [308]:
import pandas as pd

data = {'Index': [1, 2, 3, 1, 3, 2],
        'Value': [10, 20, 30, 15, 25, 35]}

df = pd.DataFrame(data)

print(df)

result = df.groupby('Index')['Value'].sum().reset_index()

result

   Index  Value
0      1     10
1      2     20
2      3     30
3      1     15
4      3     25
5      2     35

   Index  Value
0      1     25
1      2     55
2      3     55