<h3><center>Programming for Data Analytics - Project 1</center></h3>
<h1><center>Fisic and sexual violance against women in italy</center></h1>

In [90]:
import pandas as pd
import numpy as np

### Region of resident

The regiorn of residence is an important factor when analyse the risk of violence against women. Poorest Region often are associates with more cases of sexual/physical violence against women. This can be related to the fact that women have less possibilities due to a lower economic independence and less service provided by the comunity.

#### **Probability of violence on womend devided per the three main italian region**

In [91]:
#import the dataset Violence Divide per Region 
violence_per_region = pd.read_csv('DataSet/Violence divided per region.csv')
violence_per_region.head()

,ITTER107,Territory,TIPO_DATO_VIOLENZA,Data type,TIPOAUT,Perpetrator,TIPOVIOLENZA,Type of violence,TIME,Select time,Value,Flag Codes,Flags
0,IT,Italy,W16_70_PNP_LT,women aged 16-70 years who have suffered viole...,ANY_P_NOP,any man (partner and non-partner),PHSEX,physical or sexual,2014,2014,31.5,NaN,NaN
1,IT,Italy,W16_70_PNP_LT,women aged 16-70 years who have suffered viole...,ANY_P_NOP,any man (partner and non-partner),PHY,physical violence,2014,2014,20.2,NaN,NaN
2,IT,Italy,W16_70_PNP_LT,women aged 16-70 years who have suffered viole...,ANY_P_NOP,any man (partner and non-partner),SEXVIOL,sexual violence,2014,2014,21.0,NaN,NaN
3,IT,Italy,W16_70_PNP_LT,women aged 16-70 years who have suffered viole...,ANY_P_NOP,any man (partner and non-partner),RAPE_OR_ATT,rape or attempted rape,2014,2014,5.4,NaN,NaN
4,IT,Italy,W16_70_PNP_LT,women aged 16-70 years who have suffered viole...,NOP,man non-partner,PHSEX,physical or sexual,2014,2014,24.7,NaN,NaN

In [92]:
columns_to_be_removed = ['ITTER107', 'TIPO_DATO_VIOLENZA', 'TIPOAUT', 'TIPOVIOLENZA',
       'Select time', 'Flag Codes', 'Flags']

# Remove the specified columns from the 'Instruction_level_italy' DataFrame
violence_per_region = violence_per_region.drop(columns=columns_to_be_removed)

# Renaming columns in a Pandas DataFrame
violence_per_region.rename(columns={"TIME": "Year", 'Value':'%_Violence_Education'},inplace=True)

violence_per_region

,Territory,Data type,Perpetrator,Type of violence,Year,%_Violence_Education
0,Italy,women aged 16-70 years who have suffered viole...,any man (partner and non-partner),physical or sexual,2014,31.5
1,Italy,women aged 16-70 years who have suffered viole...,any man (partner and non-partner),physical violence,2014,20.2
2,Italy,women aged 16-70 years who have suffered viole...,any man (partner and non-partner),sexual violence,2014,21.0
3,Italy,women aged 16-70 years who have suffered viole...,any man (partner and non-partner),rape or attempted rape,2014,5.4
4,Italy,women aged 16-70 years who have suffered viole...,man non-partner,physical or sexual,2014,24.7
...,...,...,...,...,...,...
1199,Italy,women aged 16-70 years who have suffered viole...,current partner,rape or attempted rape,2014,0.2
1200,Italy,women aged 16-70 years who have suffered viole...,former partner,physical or sexual,2014,1.3
1201,Italy,women aged 16-70 years who have suffered viole...,former partner,physical violence,2014,1.2
1202,Italy,women aged 16-70 years who have suffered viole...,former partner,sexual violence,2014,0.3
1203,Italy,women aged 16-70 years who have suffered viole...,former partner,rape or attempted rape,2014,0.1

In [93]:
#https://note.nkmk.me/en/python-pandas-nan-judge-count/

print( f'== Missing values for violence per region ==')
violence_per_region.isnull().sum()

== Missing values for violence per region ==

Territory               0
Data type               0
Perpetrator             0
Type of violence        0
Year                    0
%_Violence_Education    0
dtype: int64

In [94]:
violence_per_region['Perpetrator'].unique()

array(['any man (partner and non-partner)', 'man non-partner',
       'current partner or former partner', 'current partner',
       'former partner'], dtype=object)

In [95]:
# function to filter the dataset in the columnc 'Pepetrators' and 'Datatype'
def filter_and_replace(dataframe):
    # Filter for rows where 'Type of violence' is 'physical or sexual'
    dataframe = dataframe[dataframe['Type of violence'] == 'physical or sexual']
    
    # Replace 'current partner or former partner' with 'Partner/Ex Partner' in the 'Perpetrator' column
    dataframe['Type of violence'] = dataframe['Type of violence'].replace('physical or sexual', 'Phisical/Sexual')
    
    # Filter for rows where 'Perpetrator' is 'current partner or former partner'
    dataframe = dataframe[dataframe['Perpetrator'] == 'current partner or former partner']
    
    # Replace 'current partner or former partner' with 'Partner/Ex Partner' in the 'Perpetrator' column
    dataframe['Perpetrator'] = dataframe['Perpetrator'].replace('current partner or former partner', 'Partner/Ex Partner')
    
    # Filter for rows where 'Data type' matches a specific condition
    dataframe = dataframe[dataframe['Data type'] == 'women aged 16-70 years who have suffered violence in the past 5 years (% of ever-partnered women 16-70 years)']
    
        # Replace 'current partner or former partner' with 'Partner/Ex Partner' in the 'Perpetrator' column
    dataframe['Data type'] = dataframe['Data type'].replace('women aged 16-70 years who have suffered violence in the past 5 years (% of ever-partnered women 16-70 years)', ' Victims 16-70 in the last 5 years')
    
    return dataframe

violence_per_region = filter_and_replace(violence_per_region)

# Filter for rows where 'Perpetrator' is 'current partner or former partner'
#violence_per_region = violence_per_region.loc[violence_per_region['Perpetrator'] == 'current partner or former partner']
violence_per_region

C:\Users\anton\AppData\Local\Temp\ipykernel_33264\2647651716.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['Type of violence'] = dataframe['Type of violence'].replace('physical or sexual', 'Phisical/Sexual')

,Territory,Data type,Perpetrator,Type of violence,Year,%_Violence_Education
28,Italy,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,2014,4.9
80,Piemonte,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,2014,4.7
132,Valle d'Aosta / Vallée d'Aoste,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,2014,3.6
184,Liguria,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,2014,6.2
236,Lombardia,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,2014,4.6
288,Trentino Alto Adige / Südtirol,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,2014,4.5
340,Provincia Autonoma Bolzano / Bozen,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,2014,4.9
392,Provincia Autonoma Trento,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,2014,4.2
444,Veneto,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,2014,4.3
496,Friuli-Venezia Giulia,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,2014,3.0
548,Emilia-Romagna,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,2014,5.9
600,Toscana,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,2014,4.9
652,Umbria,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,2014,5.2
704,Marche,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,2014,4.3
756,Lazio,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,2014,5.7
808,Abruzzo,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,2014,7.6
860,Molise,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,2014,6.9
912,Campania,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,2014,5.8
964,Puglia,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,2014,4.6
1016,Basilicata,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,2014,4.4
1068,Calabria,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,2014,2.4
1120,Sicilia,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,2014,4.6
1172,Sardegna,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,2014,4.4

In [96]:
# Filter for rows where 'Territory' is not 'Italy'
violence_per_region = violence_per_region.loc[violence_per_region['Territory'] != 'Italy']
violence_per_region.loc[violence_per_region['Territory'] == 'Lombardia']

,Territory,Data type,Perpetrator,Type of violence,Year,%_Violence_Education
236,Lombardia,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,2014,4.6

In [97]:
violence_per_region['Data type'].unique()

array([' Victims 16-70 in the last 5 years'], dtype=object)

In [98]:
violence_per_region['Type of violence'].unique()

array(['Phisical/Sexual'], dtype=object)

In [99]:
# https://www.tuttitalia.it/statistiche/nord-centro-mezzogiorno-italia/
# https://www.youtube.com/watch?app=desktop&v=8Y1UkY0oAXM
#replace multiple values in position column
replacements_regions = {
    'Liguria': 'Nord',
    'Lombardia': 'Nord',
    'Piemonte': 'Nord',
    "Valle d'Aosta / Vallée d'Aoste": 'Nord',
    'Emilia-Romagna': 'Nord',
    'Friuli-Venezia Giulia': 'Nord',
    'Trentino Alto Adige / Südtirol': 'Nord',
    'Veneto': 'Nord',
    'Provincia Autonoma Bolzano / Bozen': 'Nord',
    'Provincia Autonoma Trento': 'Nord',
    'Lazio': 'Centre',
    'Marche': 'Centre',
    'Toscana': 'Centre',
    'Umbria': 'Centre',
    'Abruzzo': 'Sud',
    'Basilicata': 'Sud',
    'Calabria': 'Sud',
    'Campania': 'Sud',
    'Molise': 'Sud',
    'Puglia': 'Sud',
    'Sardegna': 'Sud',
    'Sicilia': 'Sud',
    'Basilicata': 'Sud',
    'Calabria': 'Sud',
    'Campania': 'Sud',
    'Molise': 'Sud',
    'Puglia': 'Sud',
    'Sardegna': 'Sud',
    'Sicilia': 'Sud',
}

violence_per_region['Territory'] = violence_per_region['Territory'].replace(replacements_regions)
violence_per_region

C:\Users\anton\AppData\Local\Temp\ipykernel_33264\3800254127.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  violence_per_region['Territory'] = violence_per_region['Territory'].replace(replacements_regions)

,Territory,Data type,Perpetrator,Type of violence,Year,%_Violence_Education
80,Nord,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,2014,4.7
132,Nord,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,2014,3.6
184,Nord,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,2014,6.2
236,Nord,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,2014,4.6
288,Nord,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,2014,4.5
340,Nord,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,2014,4.9
392,Nord,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,2014,4.2
444,Nord,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,2014,4.3
496,Nord,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,2014,3.0
548,Nord,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,2014,5.9
600,Centre,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,2014,4.9
652,Centre,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,2014,5.2
704,Centre,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,2014,4.3
756,Centre,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,2014,5.7
808,Sud,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,2014,7.6
860,Sud,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,2014,6.9
912,Sud,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,2014,5.8
964,Sud,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,2014,4.6
1016,Sud,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,2014,4.4
1068,Sud,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,2014,2.4
1120,Sud,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,2014,4.6
1172,Sud,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,2014,4.4

In [100]:
violence_per_region_probability = violence_per_region.groupby('Territory')['%_Violence_Education'].mean().reset_index()
violence_per_region_probability

  Territory  %_Violence_Education
0    Centre                5.0250
1      Nord                4.5900
2       Sud                5.0875

#### **Generata a dataframe of 200 lines for the variables "Region"**

In [101]:

#https://www.istat.it/it/files/2021/12/CENSIMENTO-E-DINAMICA-DEMOGRAFICA-2020.pdf

nord_popolation = 0.464
sud_population = 0.198
centre_population = 0.338

In [102]:
regions_list = [ 'Nord', 'Sud', 'Centre']
data = np.random.choice(regions_list, p=[nord_popolation, sud_population, centre_population], size=200)
violence_against_women = pd.DataFrame(data, columns=['Territory'])
violence_against_women.head()

  Territory
0    Centre
1      Nord
2       Sud
3    Centre
4    Centre

### **Education Level**

#### **Probability of violence on womend devided per education level**

In [103]:
violence_per_educational_level = pd.read_csv('DataSet/violence_per_educational_level.csv')
violence_per_educational_level['Territory'].unique()

array(['Italy'], dtype=object)

In [104]:
violence_per_educational_level

,ITTER107,Territory,TIPO_DATO_VIOLENZA,Data type,TIPOAUT,Perpetrator,TIPOVIOLENZA,Type of violence,TITOLO_STUDIO,Educational level,TIME,Select time,Value,Flag Codes,Flags
0,IT,Italy,W16_70_PNP_LT,women aged 16-70 years who have suffered viole...,ANY_P_NOP,any man (partner and non-partner),PHSEX,physical or sexual,ALL,total,2014,2014,31.5,NaN,NaN
1,IT,Italy,W16_70_PNP_LT,women aged 16-70 years who have suffered viole...,ANY_P_NOP,any man (partner and non-partner),PHY,physical violence,ALL,total,2014,2014,20.2,NaN,NaN
2,IT,Italy,W16_70_PNP_LT,women aged 16-70 years who have suffered viole...,ANY_P_NOP,any man (partner and non-partner),SEXVIOL,sexual violence,ALL,total,2014,2014,21.0,NaN,NaN
3,IT,Italy,W16_70_PNP_LT,women aged 16-70 years who have suffered viole...,ANY_P_NOP,any man (partner and non-partner),RAPE_OR_ATT,rape or attempted rape,ALL,total,2014,2014,5.4,NaN,NaN
4,IT,Italy,W16_70_PNP_LT,women aged 16-70 years who have suffered viole...,NOP,man non-partner,PHSEX,physical or sexual,ALL,total,2014,2014,24.7,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,IT,Italy,W16_70_FP_M12,women aged 16-70 years who have suffered viole...,EX_P,former partner,SEXVIOL,sexual violence,CLF_ML,"university diploma, bachelor’s degree, master’...",2014,2014,0.3,NaN,NaN
296,IT,Italy,W16_70_FP_M12,women aged 16-70 years who have suffered viole...,EX_P,former partner,RAPE_OR_ATT,rape or attempted rape,USE_IF,diploma of upper secondary education and Certi...,2014,2014,0.1,NaN,NaN
297,IT,Italy,W16_70_FP_M12,women aged 16-70 years who have suffered viole...,EX_P,former partner,RAPE_OR_ATT,rape or attempted rape,NP,"no educational degree, final assessment (Prima...",2014,2014,0.0,NaN,NaN
298,IT,Italy,W16_70_FP_M12,women aged 16-70 years who have suffered viole...,EX_P,former partner,RAPE_OR_ATT,rape or attempted rape,LSE,diploma of lower secondary education,2014,2014,0.1,NaN,NaN
299,IT,Italy,W16_70_FP_M12,women aged 16-70 years who have suffered viole...,EX_P,former partner,RAPE_OR_ATT,rape or attempted rape,CLF_ML,"university diploma, bachelor’s degree, master’...",2014,2014,0.2,NaN,NaN

In [105]:
columns_to_be_removed = ['ITTER107', 'Territory', 'TIPO_DATO_VIOLENZA', 'TIPOAUT', 'TIPOVIOLENZA', 'TITOLO_STUDIO', 'Select time', 'Flag Codes', 'Flags']

# Remove the specified columns from the 'Instruction_level_italy' DataFrame
violence_per_educational_level = violence_per_educational_level.drop(columns=columns_to_be_removed)

#Rename columns TIME and Value for more clarity 
violence_per_educational_level = violence_per_educational_level.rename(columns={'TIME':'Year','Value':'%_Violence_Education' })

In [106]:
print( f'== Missing values for violence_per_educational_level ==')
violence_per_educational_level.isnull().sum()

== Missing values for violence_per_educational_level ==

Data type               0
Perpetrator             0
Type of violence        0
Educational level       0
Year                    0
%_Violence_Education    0
dtype: int64

In [107]:
# Filtering the DataFrame to select specific rows based on conditions

# call the function to filter and replace column 'Perpetrator' and 'DataType' previously defined
violence_per_educational_level = filter_and_replace(violence_per_educational_level)
# remove line total from educational level
violence_per_educational_level = violence_per_educational_level.loc[violence_per_educational_level['Educational level'] != 'total']

violence_per_educational_level

C:\Users\anton\AppData\Local\Temp\ipykernel_33264\2647651716.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['Type of violence'] = dataframe['Type of violence'].replace('physical or sexual', 'Phisical/Sexual')

,Data type,Perpetrator,Type of violence,Educational level,Year,%_Violence_Education
172,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,diploma of upper secondary education and Certi...,2014,5.2
173,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,"no educational degree, final assessment (Prima...",2014,2.6
174,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,diploma of lower secondary education,2014,5.0
175,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,"university diploma, bachelor’s degree, master’...",2014,6.1

In [108]:
 #https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.all.html  
# https://stackoverflow.com/questions/39768547/replace-whole-string-if-it-contains-substring-in-pandas
# substitute the value that contain the word "scuola" in the education level column with 'Primary education'A
violence_per_educational_level.loc[violence_per_educational_level['Educational level'].str.contains('Primary school'), 'Educational level'] = 'Primary Education'

# substitute the value that contain the word "laurea" in the education level column with 'higher education'
violence_per_educational_level.loc[violence_per_educational_level['Educational level'].str.contains('university'), 'Educational level'] = 'Higher Education'

# substitute the value that contain the word "diploma" in the education level column with 'high school'
violence_per_educational_level.loc[violence_per_educational_level['Educational level'].str.contains('diploma'), 'Educational level'] = 'High School'
violence_per_educational_level

,Data type,Perpetrator,Type of violence,Educational level,Year,%_Violence_Education
172,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,High School,2014,5.2
173,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,Primary Education,2014,2.6
174,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,High School,2014,5.0
175,Victims 16-70 in the last 5 years,Partner/Ex Partner,Phisical/Sexual,Higher Education,2014,6.1

In [109]:
violence_educational_level_probability = violence_per_educational_level.groupby('Educational level')['%_Violence_Education'].mean().reset_index()
violence_educational_level_probability

   Educational level  %_Violence_Education
0        High School                   5.1
1   Higher Education                   6.1
2  Primary Education                   2.6

#####  **Calculate the education level devided per regionr of women with age 15+ years**

The purpose of this first part is to determine the percentage of women aged 15 and above with various levels of education devided per area of residence: the North, Central, and Southern regions.

The data used for this estimation has been downloaded from the ISTAT website, which is the Italian Institute of Statistics, that leave avaiable to the public several datasets [[]](http://dati.istat.it/?lang=en). The selected dataset, titled "Population 15 years and over by the highest level of education - previous regulation (until 2020)," contains information on different levels of education for residents in Italy, reported in thousands, and provides insights into various demographic characteristics." 


    - Import the dataset

First we need to import the needed library and the dataset with the numpy read_csv function [[]](https://www.w3schools.com/python/pandas/pandas_csv.asp).

In [110]:
# read the dataset 
# https://www.w3schools.com/python/pandas/pandas_csv.asp
Education_level_italy = pd.read_csv('DataSet/Instruction_level_italy.csv')

    - Data Cleaning

It is now important clean and elaborate the dataset to being.

First I will check the dataset with the sample() function to investigate what columns we can drop.

In [111]:
# print first 5 rows  
Education_level_italy.sample(10)

,ITTER107,Territorio,TIPO_DATO_FOL,Tipo dato,SEXISTAT1,Sesso,ETA1,Classe di età,TITOLO_STUDIO,Titolo di studio,TIME,Seleziona periodo,Value,Flag Codes,Flags
3453,ITD,Nord-est,POP_15,popolazione 15 anni e oltre (migliaia),9,totale,Y25-34,25-34 anni,3,"licenza di scuola elementare, nessun titolo di...",2019-Q1,T1-2019,15.925,NaN,NaN
6002,ITD,Nord-est,POP_15,popolazione 15 anni e oltre (migliaia),2,femmine,Y_GE65,65 anni e più,4,licenza di scuola media,2020-Q3,T3-2020,346.818,NaN,NaN
5789,ITC,Nord-ovest,POP_15,popolazione 15 anni e oltre (migliaia),1,maschi,Y_GE65,65 anni e più,11,laurea e post-laurea,2020,2020,169.209,NaN,NaN
576,ITD,Nord-est,POP_15,popolazione 15 anni e oltre (migliaia),1,maschi,Y_GE15,15 anni e più,6,diploma 4-5 anni (maturità),2020-Q2,T2-2020,1468.948,NaN,NaN
5003,ITCD,Nord,POP_15,popolazione 15 anni e oltre (migliaia),2,femmine,Y55-59,55-59 anni,4,licenza di scuola media,2020,2020,411.370,NaN,NaN
7275,ITE,Centro,POP_15,popolazione 15 anni e oltre (migliaia),2,femmine,Y15-64,15-64 anni,6,diploma 4-5 anni (maturità),2019-Q1,T1-2019,1539.763,NaN,NaN
2169,ITE,Centro,POP_15,popolazione 15 anni e oltre (migliaia),9,totale,Y15-24,15-24 anni,11,laurea e post-laurea,2020-Q4,T4-2020,55.898,NaN,NaN
7781,ITCD,Nord,POP_15,popolazione 15 anni e oltre (migliaia),1,maschi,Y35-64,35-64 anni,99,totale,2020-Q1,T1-2020,5965.866,NaN,NaN
3812,ITFG,Mezzogiorno,POP_15,popolazione 15 anni e oltre (migliaia),9,totale,Y25-34,25-34 anni,3,"licenza di scuola elementare, nessun titolo di...",2019,2019,66.995,NaN,NaN
3135,ITCD,Nord,POP_15,popolazione 15 anni e oltre (migliaia),9,totale,Y25-34,25-34 anni,11,laurea e post-laurea,2019-Q4,T4-2019,877.538,NaN,NaN

Upon examining the dataset, I have identified several columns that can be removed because they are not relevant for the analysis or because they contain redundant information.

These columns include: ['ITTER107', 'TIPO_DATO_FOL', 'SEXISTAT1', 'Tipo dato', 'ETA1', 'Classe di età', 'TITOLO_STUDIO', 'TIME', 'Flag Codes', 'Flags'].

I will use the drop() function with a variable to specify which columns to remove and update the DataFrame accordingly. We can them check the first 5 columns of the dataset with the head() function to see if the removal was successful.

In [112]:
# List of columns to be removed from the DataFrame
columns_to_be_removed = ['ITTER107', 'TIPO_DATO_FOL', 'SEXISTAT1', 'Tipo dato', 'ETA1', 'Classe di età', 'TITOLO_STUDIO', 'TIME', 'Flag Codes', 'Flags']

# Remove the specified columns from the 'Instruction_level_italy' DataFrame
Education_level_italy = Education_level_italy.drop(columns=columns_to_be_removed)

# Display the first few rows of the modified DataFrame
Education_level_italy.head()

,Territorio,Sesso,Titolo di studio,Seleziona periodo,Value
0,Italia,maschi,"licenza di scuola elementare, nessun titolo di...",2019,3165.895
1,Italia,maschi,"licenza di scuola elementare, nessun titolo di...",T1-2019,3211.849
2,Italia,maschi,"licenza di scuola elementare, nessun titolo di...",T2-2019,3179.996
3,Italia,maschi,"licenza di scuola elementare, nessun titolo di...",T4-2019,3113.926
4,Italia,maschi,"licenza di scuola elementare, nessun titolo di...",T3-2019,3157.808

Replace the colum name with a more understandacle meaning for english speaker using The rename() function [[]](https://www.kdnuggets.com/2022/11/4-ways-rename-pandas-columns.html).

In [113]:
# Renaming columns in a Pandas DataFrame
Education_level_italy.rename(
    columns={"Territorio": "Territory", "Sesso": "Sex", "Titolo di studio": "Education level","Seleziona periodo": "Year of observation" },
    inplace=True
)
# check the columns name of the dataset 
Education_level_italy.columns

Index(['Territory', 'Sex', 'Education level', 'Year of observation', 'Value'], dtype='object')

About the colum sex I will need to keep only female row. We can check the unique value with the function Unique().

In [114]:
# check the unique value in the column sex
Education_level_italy['Sex'].unique()

array(['maschi', 'femmine', 'totale'], dtype=object)

We will use the .loc [[]](https://deallen7.medium.com/using-pandas-loc-and-isin-to-filter-for-a-list-of-values-in-python-a1c862054058) function to select only the row with the specified value "femmine," and then we will update the dataset accordingly. Finally, we will replace "femmine" with "female [[]](https://datatofish.com/replace-values-pandas-dataframe/).

In [115]:
# keep only the rows with value "femmmine" in the sex colum
Education_level_italy = Education_level_italy.loc[Education_level_italy['Sex'] == 'femmine']
# replace "femmine" with "female"
Education_level_italy['Sex']=Education_level_italy['Sex'].replace("femmine", "Female")
# check unique value 
Education_level_italy['Sex'].unique()

array(['Female'], dtype=object)

The 'Region' column, after conducting a unique() analysis, revealed redundant values. 
'Italy,' 'Nord est,' and 'Nord Ovest' are already encompassed within 'Nord,' 'Centro' (Centre), and 'Mezzogiorno' (South). Consequently, I will remove the unnecessary values and rename the remaining rows for better clarity [[]](https://datatofish.com/replace-values-pandas-dataframe/).

In [116]:
# List of values to be selected from the 'Region' column
filter_list = ['Nord-est', 'Nord-ovest', 'Italia']

# Filter the DataFrame 'Instruction_level_italy' to exclude rows where 'Territorio' is in the 'filter_list'
Education_level_italy = Education_level_italy.loc[~Education_level_italy['Territory'].isin(filter_list)]

# replace mezzogiorno and centro

Education_level_italy['Region'] = Education_level_italy['Territory'].replace(["Mezzogiorno", "Centro"], value=["Sud", "Centre"])
# check the removal and replacement with the group by function 
filtered_grouped_data = Education_level_italy.groupby('Territory')['Value'].sum().reset_index()
print(filtered_grouped_data)

     Territory       Value
0       Centro  308497.782
1  Mezzogiorno  527195.457
2         Nord  701864.224

Regarding the column "Year", after visualising the content, I decide to keep only the more recent observation that refer to the whole 2020.

In [117]:
# keep only the rows with value "2020" in the 'Year of observation' column
Education_level_italy = Education_level_italy.loc[Education_level_italy['Year of observation'] == '2020']

# display the unique value using the group by column 
Education_level_italy.groupby('Year of observation')['Value'].sum().reset_index()

  Year of observation       Value
0                2020  184291.114

The columns represent the five different levels of education that can be attained in Italy. However, for this analysis, I intend to categorize them into the following three main levels:

- Primary education: Individuals who have completed only primary school education (typically up to 13 years of age).
- High school education: Individuals who have successfully completed high school (typically up to 19 years of age).
- Higher education: This category encompasses all forms of higher education, including degrees, bachelor's degrees, master's degrees, PhDs, and more.

The replace will be done with the pandas metho str.contain [[]](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.contains.html), [[]](https://stackoverflow.com/questions/39768547/replace-whole-string-if-it-contains-substring-in-pandas).

In [118]:

# https://stackoverflow.com/questions/39768547/replace-whole-string-if-it-contains-substring-in-pandas
# substitute the value that contain the word "scuola" in the education level column with 'Primary education'A
Education_level_italy.loc[Education_level_italy['Education level'].str.contains('scuola'), 'Education level'] = 'Primary Education'

# substitute the value that contain the word "diploma" in the education level column with 'high school'
Education_level_italy.loc[Education_level_italy['Education level'].str.contains('diploma'), 'Education level'] = 'High School'

# substitute the value that contain the word "laurea" in the education level column with 'higher education'
Education_level_italy.loc[Education_level_italy['Education level'].str.contains('laurea'), 'Education level'] = 'Higher Education'

Then we can remove the 'total' column, as it is redundant, and group the dataset by education level. 
The removal will be done using the .loc function  [[]](https://www.shanelynn.ie/pandas-drop-delete-dataframe-rows-columns/) which will find all the values that don't match the given date, and the dataset will be updated accordingly.

In [119]:
# Filter the DataFrame 'Instruction_level_italy' to exclude rows where 'Territorio' is in the 'filter_list'
# https://www.shanelynn.ie/pandas-drop-delete-dataframe-rows-columns/
Education_level_italy = Education_level_italy.loc[Education_level_italy['Education level'] != 'totale']

# Group by the dataset based on unique value of the column 'Education level'
Education_level_italy = Education_level_italy.groupby(['Region', 'Sex', 'Education level', 'Year of observation'])['Value'].sum().reset_index()

Now we can split the datases on three different dataset, one for each region.

In [120]:
Education_level_italy

   Region     Sex    Education level Year of observation      Value
0  Centre  Female        High School                2020   7281.301
1  Centre  Female   Higher Education                2020   4066.783
2  Centre  Female  Primary Education                2020   7111.766
3    Nord  Female        High School                2020  16744.704
4    Nord  Female   Higher Education                2020   8039.184
5    Nord  Female  Primary Education                2020  17261.569
6     Sud  Female        High School                2020  10937.283
7     Sud  Female   Higher Education                2020   4730.042
8     Sud  Female  Primary Education                2020  15972.930

In [121]:
Education_level_italy.columns

Index(['Region', 'Sex', 'Education level', 'Year of observation', 'Value'], dtype='object')

Now, we can calculate the probability of each level of education divided by region. We use the *groupby* operation to group the data by the 'Region' column and calculate the sum of the values for each group. Afterward, we utilize the *map* [[]](https://www.geeksforgeeks.org/python-map-function/) function to create a new column, 'Probability%', based on the total value of the corresponding region.

In [122]:
# Group the data by 'Region' and calculate the sum of 'Value' for each group
region_groups = Education_level_italy.groupby('Region')['Value'].sum()

# Calculate the probability percentage for each region
# https://sparkbyexamples.com/pandas/pandas-map-function-explained/
# https://practicaldatascience.co.uk/data-science/how-to-use-the-pandas-map-function
Education_level_italy['Probability%'] = Education_level_italy['Value'] / Education_level_italy['Region'].map(region_groups)
Education_level_italy

,Region,Sex,Education level,Year of observation,Value,Probability%
0,Centre,Female,High School,2020,7281.301,0.394440
1,Centre,Female,Higher Education,2020,4066.783,0.220304
2,Centre,Female,Primary Education,2020,7111.766,0.385256
3,Nord,Female,High School,2020,16744.704,0.398252
4,Nord,Female,Higher Education,2020,8039.184,0.191202
5,Nord,Female,Primary Education,2020,17261.569,0.410545
6,Sud,Female,High School,2020,10937.283,0.345676
7,Sud,Female,Higher Education,2020,4730.042,0.149494
8,Sud,Female,Primary Education,2020,15972.930,0.504829

In [123]:
# Group Education_level_italy by 'Region'
grouped_education = Education_level_italy.groupby('Region')['Probability%']

Education_List = ['High School', 'Primary Education', 'Higher Education']

# Define a function to sample education levels based on probabilities for each region
def Education_level(row):
    region = row["Territory"]
    probabilities = grouped_education.get_group(region).values
    education = np.random.choice(Education_List, p=probabilities)
    return education

# Apply the function to create the 'Education' column
violence_against_women["Education level"] = violence_against_women.apply(Education_level, axis=1)

violence_against_women

    Territory    Education level
0      Centre        High School
1        Nord  Primary Education
2         Sud   Higher Education
3      Centre  Primary Education
4      Centre  Primary Education
..        ...                ...
195    Centre  Primary Education
196      Nord   Higher Education
197      Nord        High School
198      Nord   Higher Education
199      Nord   Higher Education

[200 rows x 2 columns]

### Occupancy level

#### **Percentage of violence against women by occupancy level**

#### **calculate the percentage of occupancy in italy per region/level of education**

In [134]:
# import the dataset - Occupancy data set 

occupancy_rate = pd.read_csv('DataSet/Occupancy data.csv')

In [135]:
occupancy_rate.columns

Index(['FREQ', 'Frequency', 'REF_AREA', 'Territory', 'DATA_TYPE', 'Indicator',
       'SEX', 'Sex (DESC)', 'AGE', 'Age (DESC)', 'EDU_LEV_HIGHEST',
       'Highest level of education attained', 'Time (TIME_PERIOD)',
       'Observation', 'OBS_STATUS', 'Observation status'],
      dtype='object')

In [136]:
occupancy_rate

,FREQ,Frequency,REF_AREA,Territory,DATA_TYPE,Indicator,SEX,Sex (DESC),AGE,Age (DESC),EDU_LEV_HIGHEST,Highest level of education attained,Time (TIME_PERIOD),Observation,OBS_STATUS,Observation status
0,A,Annual,IT,Italy,EMP_R,Employment rate,1,Males,Y15-24,15-24 years,13,'No educational degree primary and lower seco...,2021,9.831454,NaN,NaN
1,A,Annual,IT,Italy,EMP_R,Employment rate,1,Males,Y15-24,15-24 years,13,'No educational degree primary and lower seco...,2022,10.582486,NaN,NaN
2,A,Annual,IT,Italy,EMP_R,Employment rate,1,Males,Y15-24,15-24 years,7,Upper and post secondary,2021,34.882412,NaN,NaN
3,A,Annual,IT,Italy,EMP_R,Employment rate,1,Males,Y15-24,15-24 years,7,Upper and post secondary,2022,37.776690,NaN,NaN
4,A,Annual,IT,Italy,EMP_R,Employment rate,1,Males,Y15-24,15-24 years,11,'Tertiary (university doctoral and specializa...,2021,20.871990,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9265,Q,Quarterly,ITFG,Mezzogiorno,EMP_R,Employment rate,9,Total,Y15-89,15-89 years,99,Total,2022-Q2,36.562612,NaN,NaN
9266,Q,Quarterly,ITFG,Mezzogiorno,EMP_R,Employment rate,9,Total,Y15-89,15-89 years,99,Total,2022-Q3,36.103998,NaN,NaN
9267,Q,Quarterly,ITFG,Mezzogiorno,EMP_R,Employment rate,9,Total,Y15-89,15-89 years,99,Total,2022-Q4,36.354608,NaN,NaN
9268,Q,Quarterly,ITFG,Mezzogiorno,EMP_R,Employment rate,9,Total,Y15-89,15-89 years,99,Total,2023-Q1,36.269613,NaN,NaN
9269,Q,Quarterly,ITFG,Mezzogiorno,EMP_R,Employment rate,9,Total,Y15-89,15-89 years,99,Total,2023-Q2,37.144490,NaN,NaN

In [137]:
# List of columns to be removed from the DataFrame
columns_to_be_removed = ['FREQ', 'Frequency', 'REF_AREA', 'DATA_TYPE', 'Indicator',
       'SEX', 'AGE', 'EDU_LEV_HIGHEST', 'OBS_STATUS', 'Observation status']

# Remove the specified columns from the 'Instruction_level_italy' DataFrame
occupancy_rate = occupancy_rate.drop(columns=columns_to_be_removed)

# Renaming columns in a Pandas DataFrame
occupancy_rate.rename(
    columns={"Time (TIME_PERIOD)": "Year",
            "Age (DESC)": 'Age',
            "Highest level of education attained":"Educational level",
            'Sex (DESC)': 'Sex',
            'Observation' : '%_occupation'
            },
    inplace=True
)

occupancy_rate

,Territory,Sex,Age,Educational level,Year,%_occupation
0,Italy,Males,15-24 years,'No educational degree primary and lower seco...,2021,9.831454
1,Italy,Males,15-24 years,'No educational degree primary and lower seco...,2022,10.582486
2,Italy,Males,15-24 years,Upper and post secondary,2021,34.882412
3,Italy,Males,15-24 years,Upper and post secondary,2022,37.776690
4,Italy,Males,15-24 years,'Tertiary (university doctoral and specializa...,2021,20.871990
...,...,...,...,...,...,...
9265,Mezzogiorno,Total,15-89 years,Total,2022-Q2,36.562612
9266,Mezzogiorno,Total,15-89 years,Total,2022-Q3,36.103998
9267,Mezzogiorno,Total,15-89 years,Total,2022-Q4,36.354608
9268,Mezzogiorno,Total,15-89 years,Total,2023-Q1,36.269613
9269,Mezzogiorno,Total,15-89 years,Total,2023-Q2,37.144490

In [138]:
# List of values to be selected from the 'Territity' column
filter_list = ['Nord-est', 'Nord-ovest', 'Italy']

# Filter the DataFrame 'Instruction_level_italy' to exclude rows where 'Territorio' is in the 'filter_list'
occupancy_rate = occupancy_rate.loc[~occupancy_rate['Territory'].isin(filter_list)]

# Filter for rows where 'Year' is '2020'
occupancy_rate = occupancy_rate.loc[occupancy_rate['Year']=='2022']

# Filter for rows where 'Sex' is 'Females'
occupancy_rate = occupancy_rate.loc[occupancy_rate['Sex']=='Females']

# Filter for rows where 'Age' is '15-74' years
occupancy_rate = occupancy_rate.loc[occupancy_rate['Age']=='15-74 years']

# Filter for rows where 'Educational Level' is not 'Total'
occupancy_rate = occupancy_rate.loc[occupancy_rate["Educational level"]!='Total ']

occupancy_rate

,Territory,Sex,Age,Educational level,Year,%_occupation
617,Nord,Females,15-74 years,'No educational degree primary and lower seco...,2022,30.386439
619,Nord,Females,15-74 years,Upper and post secondary,2022,59.523170
621,Nord,Females,15-74 years,'Tertiary (university doctoral and specializa...,2022,77.648067
1769,Centro (I),Females,15-74 years,'No educational degree primary and lower seco...,2022,27.014838
1771,Centro (I),Females,15-74 years,Upper and post secondary,2022,54.347533
1773,Centro (I),Females,15-74 years,'Tertiary (university doctoral and specializa...,2022,74.460725
2153,Mezzogiorno,Females,15-74 years,'No educational degree primary and lower seco...,2022,14.016440
2155,Mezzogiorno,Females,15-74 years,Upper and post secondary,2022,36.141348
2157,Mezzogiorno,Females,15-74 years,'Tertiary (university doctoral and specializa...,2022,62.964586

In [143]:
# rename value in the 'Educational level' column for a better clarity
occupancy_rate["Educational level"] = occupancy_rate["Educational level"].replace({
    "'No educational degree  primary and lower secondary school certificate'": 'Primary Education',
    'Upper and post secondary ': 'High School',
    "'Tertiary (university  doctoral and specialization courses)'": 'Higher Education'
})

# rename value in the 'Territory' column for a better clarity
occupancy_rate["Territory"] = occupancy_rate["Territory"].replace({
    "Centro (I)": 'Centre',
    'Mezzogiorno': 'Sud',
})
occupancy_rate

     Territory      Sex          Age  Educational level  Year  %_occupation
617       Nord  Females  15-74 years  Primary Education  2022     30.386439
619       Nord  Females  15-74 years        High School  2022     59.523170
621       Nord  Females  15-74 years   Higher Education  2022     77.648067
1769    Centre  Females  15-74 years  Primary Education  2022     27.014838
1771    Centre  Females  15-74 years        High School  2022     54.347533
1773    Centre  Females  15-74 years   Higher Education  2022     74.460725
2153       Sud  Females  15-74 years  Primary Education  2022     14.016440
2155       Sud  Females  15-74 years        High School  2022     36.141348
2157       Sud  Females  15-74 years   Higher Education  2022     62.964586

In [142]:
# Group 'violence_against_women' by 'Territory' and 'Educational level'
grouped_occupancy_region = occupancy_rate.groupby(['Territory', 'Educational level'])['%_occupation']

def Occupancy_level(row):
    # Extract 'Territory' and 'Educational level' from the current row
    row_combination = (row['Territory'], row['Education level'])
    
    # Check if the row_combination is present in the grouped data
    if row_combination in grouped_occupancy_region.groups:
        # Retrieve the first value of '%_occupation' for the corresponding group
        rate_of_occupancy = grouped_occupancy_region.get_group(row_combination).values[0]/100
        return rate_of_occupancy
  

# Apply the function to all rows and create a new column '%_of_occupation' in 'violence_against_women'
violence_against_women["%_Occupied"] = violence_against_women.apply(Occupancy_level, axis=1)
violence_against_women

    Territory    Education level  %_Occupied
0      Centre        High School    0.543475
1        Nord  Primary Education    0.303864
2         Sud   Higher Education    0.629646
3      Centre  Primary Education    0.270148
4      Centre  Primary Education    0.270148
..        ...                ...         ...
195    Centre  Primary Education    0.270148
196      Nord   Higher Education    0.776481
197      Nord        High School    0.595232
198      Nord   Higher Education    0.776481
199      Nord   Higher Education    0.776481

[200 rows x 3 columns]

In [131]:
#https://note.nkmk.me/en/python-pandas-nan-judge-count/

print( f'== Missing values for violence per region ==')
violence_against_women.isnull().sum()

== Missing values for violence per region ==

Territory          0
Education level    0
%_Occupied         0
dtype: int64

In [132]:
# Group 'Occupancy_rate_probability' by 'Territory' and 'Occupancy_rate_probability'
grouped_occupancy_region = Occupancy_rate.groupby(['Territory','Educational level'])['%_occupation']
grouped_occupancy_region.groups

# Group 'Occupancy_rate_probability' by 'Territory' and 'Educational level'
grouped_occupancy_region = Occupancy_rate.groupby(['Territory', 'Educational level'])['%_occupation']

def Occupancy_level(row):
    region = (row['Territory'], row['Educational level'])
    if region in grouped_occupancy_region.groups:
        print(region)
        rate_of_occupancy = grouped_occupancy_region.get_group(region).values[0]
        print(rate_of_occupancy)
        return rate_of_occupancy
    
violence_against_women["%_of_occupation"] = Occupancy_rate.apply(Occupancy_level, axis=1)

violence_against_women

KeyError: 'Educational level'

In [ ]:
grouped_occupancy_region.groups

In [ ]:
# Group 'Occupancy_rate_probability' by 'Territory' and 'Educational level'
grouped_occupancy_region_education = Occupancy_rate.groupby(['Territory', 'Educational level'])['%_occupation']
print(grouped_occupancy_region)

def Occupancy_level(row):
    region = (row['Territory'], row['Educational level'])  # Check column names
    
    # Check if the region exists in the grouped data
    if region in grouped_occupancy_region_education.groups:
        # Sample the occupancy level based on probabilities
        # Make sure the column name matches the one in your 'Occupancy_rate' DataFrame
        occupancy = grouped_occupancy_region.get_group(region)['%_occupation'].values
        return occupancy

# Apply the function to create the '%_of_occupation' column
violence_against_women["%_of_occupation"] = violence_against_women.apply(Occupancy_level, axis=1)

In [ ]:

# Define a function to sample occupancy levels based on probabilities for each region
def Occupancy_level(row):
    region = (row['Territory'], row['Educational Level'])
    
'''    # Check if the region exists in the grouped data
    if region in grouped_occupancy_region.groups:
        # Sample the occupancy level based on probabilities
        occupancy = grouped_occupancy_region.get_group(region)['%_occupation'].values
        return occupancy
    
# Apply the function to create the '%_occupation' column
violence_against_women["%_occupation"] = violence_against_women.apply(Occupancy_level, axis=1)'''

In [ ]:
# keeping only the female value in the sex column 
Occypancy_rate = Occypancy_rate.loc[Occypancy_rate['Sex']=='Female']

#https://stackoverflow.com/questions/38944673/how-to-drop-all-the-rows-based-on-multiple-values-found-in-the-fruit-column
# dropping not needed value from the Terrytory column
remove_list = ['Italy', 'Nord-ovest', 'Nord-est']
Occypancy_rate = Occypancy_rate[~(Occypancy_rate.)]

In [ ]:
import pandas as pd
import itertools

# Assuming dictionaries representing probabilities for two versions of each variable
variable_a = {'Variable_A': {'x': 0.4, 'y': 0.25}}
variable_b = {'Variable_B': {'x': 0.3, 'y': 0.45}}
variable_c = {'Variable_C': {'x': 0.2, 'y': 0.35}}

# Converting dictionaries to DataFrames
df_variable_a = pd.DataFrame(variable_a)
df_variable_b = pd.DataFrame(variable_b)
df_variable_c = pd.DataFrame(variable_c)

# Getting all possible combinations of these probabilities
combinations = list(itertools.product(df_variable_a['Variable_A'], df_variable_b['Variable_B'], df_variable_c['Variable_C']))

# Creating a DataFrame to store these combinations and calculate the mean
result_df = pd.DataFrame(combinations, columns=['Variable_A', 'Variable_B', 'Variable_C'])

# Calculating the mean probability for each combination
result_df['Mean_Probability'] = result_df.mean(axis=1)

print(result_df)
print(df_variable_a)