<h3><center>Programming for Data Analytics - Project 1</center></h3>
<h1><center>Fisic and sexual violance against women in italy</center></h1>

In [143]:
import pandas as pd
import numpy as np

### Region of resident

The regiorn of residence is an important factor when analyse the risk of violence against women. Poorest Region often are associates with more cases of sexual/physical violence against women. This can be related to the fact that women have less possibilities due to a lower economic independence and less service provided by the comunity.

#### **Probability of violence on womend devided per the three main italian region**

In [144]:
#import the dataset Violence Divide per Region 
violence_per_region = pd.read_csv('DataSet/Violence divided per region.csv')
violence_per_region.head()

,ITTER107,Territory,TIPO_DATO_VIOLENZA,Data type,TIPOAUT,Perpetrator,TIPOVIOLENZA,Type of violence,TIME,Select time,Value,Flag Codes,Flags
0,IT,Italy,W16_70_PNP_LT,women aged 16-70 years who have suffered viole...,ANY_P_NOP,any man (partner and non-partner),PHSEX,physical or sexual,2014,2014,31.5,NaN,NaN
1,IT,Italy,W16_70_PNP_LT,women aged 16-70 years who have suffered viole...,ANY_P_NOP,any man (partner and non-partner),PHY,physical violence,2014,2014,20.2,NaN,NaN
2,IT,Italy,W16_70_PNP_LT,women aged 16-70 years who have suffered viole...,ANY_P_NOP,any man (partner and non-partner),SEXVIOL,sexual violence,2014,2014,21.0,NaN,NaN
3,IT,Italy,W16_70_PNP_LT,women aged 16-70 years who have suffered viole...,ANY_P_NOP,any man (partner and non-partner),RAPE_OR_ATT,rape or attempted rape,2014,2014,5.4,NaN,NaN
4,IT,Italy,W16_70_PNP_LT,women aged 16-70 years who have suffered viole...,NOP,man non-partner,PHSEX,physical or sexual,2014,2014,24.7,NaN,NaN

In [145]:
# List of columns to be removed from the DataFrame
columns_to_be_removed = ['ITTER107', 'TIPO_DATO_VIOLENZA','TIPOAUT', 'TIPOVIOLENZA', 'Select time', 'Flag Codes', 'Flags']

# Remove the specified columns from the 'Instruction_level_italy' DataFrame
violence_per_region = violence_per_region.drop(columns=columns_to_be_removed)

# Renaming columns in a Pandas DataFrame
violence_per_region.rename(
    columns={"TIME": "Year"},
    inplace=True
)

violence_per_region.head()

,Territory,Data type,Perpetrator,Type of violence,Year,Value
0,Italy,women aged 16-70 years who have suffered viole...,any man (partner and non-partner),physical or sexual,2014,31.5
1,Italy,women aged 16-70 years who have suffered viole...,any man (partner and non-partner),physical violence,2014,20.2
2,Italy,women aged 16-70 years who have suffered viole...,any man (partner and non-partner),sexual violence,2014,21.0
3,Italy,women aged 16-70 years who have suffered viole...,any man (partner and non-partner),rape or attempted rape,2014,5.4
4,Italy,women aged 16-70 years who have suffered viole...,man non-partner,physical or sexual,2014,24.7

In [146]:
#https://note.nkmk.me/en/python-pandas-nan-judge-count/

print( f'== Missing values for violence per region ==')
violence_per_region.isnull().sum()

== Missing values for violence per region ==

Territory           0
Data type           0
Perpetrator         0
Type of violence    0
Year                0
Value               0
dtype: int64

In [147]:
violence_per_region['Perpetrator'].unique()

array(['any man (partner and non-partner)', 'man non-partner',
       'current partner or former partner', 'current partner',
       'former partner'], dtype=object)

In [148]:
# function to filter the dataset in the columnc 'Pepetrators' and 'Datatype'
def filter_and_replace(dataframe):
    # Filter for rows where 'Perpetrator' is 'current partner or former partner'
    dataframe = dataframe[dataframe['Perpetrator'] == 'current partner or former partner']
    
    # Replace 'current partner or former partner' with 'Partner/Ex Partner' in the 'Perpetrator' column
    dataframe['Perpetrator'] = dataframe['Perpetrator'].replace('current partner or former partner', 'Partner/Ex Partner')
    
    # Filter for rows where 'Data type' matches a specific condition
    dataframe = dataframe[dataframe['Data type'] == 'women aged 16-70 years who have suffered violence in the past 5 years (% of ever-partnered women 16-70 years)']
    
        # Replace 'current partner or former partner' with 'Partner/Ex Partner' in the 'Perpetrator' column
    dataframe['Data type'] = dataframe['Data type'].replace('women aged 16-70 years who have suffered violence in the past 5 years (% of ever-partnered women 16-70 years)', ' Victims 16-70 in the last 5 years')
    
    return dataframe

violence_per_region = filter_and_replace(violence_per_region)

# Filter for rows where 'Perpetrator' is 'current partner or former partner'
#violence_per_region = violence_per_region.loc[violence_per_region['Perpetrator'] == 'current partner or former partner']
violence_per_region

C:\Users\anton\AppData\Local\Temp\ipykernel_20604\1392319284.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['Perpetrator'] = dataframe['Perpetrator'].replace('current partner or former partner', 'Partner/Ex Partner')

,Territory,Data type,Perpetrator,Type of violence,Year,Value
28,Italy,Victims 16-70 in the last 5 years,Partner/Ex Partner,physical or sexual,2014,4.9
29,Italy,Victims 16-70 in the last 5 years,Partner/Ex Partner,physical violence,2014,4.0
30,Italy,Victims 16-70 in the last 5 years,Partner/Ex Partner,sexual violence,2014,2.0
31,Italy,Victims 16-70 in the last 5 years,Partner/Ex Partner,rape or attempted rape,2014,0.6
80,Piemonte,Victims 16-70 in the last 5 years,Partner/Ex Partner,physical or sexual,2014,4.7
...,...,...,...,...,...,...
1123,Sicilia,Victims 16-70 in the last 5 years,Partner/Ex Partner,rape or attempted rape,2014,0.7
1172,Sardegna,Victims 16-70 in the last 5 years,Partner/Ex Partner,physical or sexual,2014,4.4
1173,Sardegna,Victims 16-70 in the last 5 years,Partner/Ex Partner,physical violence,2014,3.3
1174,Sardegna,Victims 16-70 in the last 5 years,Partner/Ex Partner,sexual violence,2014,1.4
1175,Sardegna,Victims 16-70 in the last 5 years,Partner/Ex Partner,rape or attempted rape,2014,0.3

In [149]:
# Filter for rows where 'Territory' is not 'Italy'
violence_per_region = violence_per_region.loc[violence_per_region['Territory'] != 'Italy']

In [150]:
violence_per_region['Data type'].unique()

array([' Victims 16-70 in the last 5 years'], dtype=object)

In [151]:
violence_per_region['Type of violence'].unique()

array(['physical or sexual', 'physical violence', 'sexual violence',
       ' rape or attempted rape'], dtype=object)

In [152]:
# https://www.youtube.com/watch?app=desktop&v=8Y1UkY0oAXM
# Function to replace values in the 'Type of violence' column

# Dictionary defining replacements for 'Type of violence' column
def replace_violence_types(dataframe):
    replacement_type_of_violence = {
        'physical or sexual': 'Physical or Sexual',
        'physical violence': 'Physical or Sexual',
        'sexual violence': 'Physical or Sexual',
        ' rape or attempted rape': 'Physical or Sexual'
    }
    # Applying replacements to the 'Type of violence' column in the DataFrame 'violence_per_region'
    dataframe['Type of violence'] = dataframe['Type of violence'].replace(replacement_type_of_violence)
    return dataframe

# call the function to replace the value on the Type of Violence columng 
violence_per_region = replace_violence_types(violence_per_region)

C:\Users\anton\AppData\Local\Temp\ipykernel_20604\2272924256.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['Type of violence'] = dataframe['Type of violence'].replace(replacement_type_of_violence)

In [153]:
# https://www.tuttitalia.it/statistiche/nord-centro-mezzogiorno-italia/
# https://www.youtube.com/watch?app=desktop&v=8Y1UkY0oAXM
#replace multiple values in position column
replacements_regions = {
    'Liguria': 'Nord',
    'Lombardia': 'Nord',
    'Piemonte': 'Nord',
    "Valle d'Aosta / Vallée d'Aoste": 'Nord',
    'Emilia-Romagna': 'Nord',
    'Friuli-Venezia Giulia': 'Nord',
    'Trentino Alto Adige / Südtirol': 'Nord',
    'Veneto': 'Nord',
    'Provincia Autonoma Bolzano / Bozen': 'Nord',
    'Provincia Autonoma Trento': 'Nord',
    'Lazio': 'Centre',
    'Marche': 'Centre',
    'Toscana': 'Centre',
    'Umbria': 'Centre',
    'Abruzzo': 'Sud',
    'Basilicata': 'Sud',
    'Calabria': 'Sud',
    'Campania': 'Sud',
    'Molise': 'Sud',
    'Puglia': 'Sud',
    'Sardegna': 'Sud',
    'Sicilia': 'Sud',
    'Basilicata': 'Sud',
    'Calabria': 'Sud',
    'Campania': 'Sud',
    'Molise': 'Sud',
    'Puglia': 'Sud',
    'Sardegna': 'Sud',
    'Sicilia': 'Sud',
}

violence_per_region['Territory'] = violence_per_region['Territory'].replace(replacements_regions)

violence_per_region['Probability%'] = violence_per_region['Value']/violence_per_region['Value'].sum()

violence_per_region.groupby(['Territory', 'Data type', 'Perpetrator', 'Type of violence'])['Value'].sum().reset_index()

C:\Users\anton\AppData\Local\Temp\ipykernel_20604\2502396187.py:36: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  violence_per_region['Territory'] = violence_per_region['Territory'].replace(replacements_regions)
C:\Users\anton\AppData\Local\Temp\ipykernel_20604\2502396187.py:38: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  violence_per_region['Probability%'] = violence_per_region['Value']/violence_per_region['Value'].sum()

,Territory,Data type,Perpetrator,Type of violence,Value
0,Centre,Victims 16-70 in the last 5 years,Partner/Ex Partner,Physical or Sexual,45.6
1,Nord,Victims 16-70 in the last 5 years,Partner/Ex Partner,Physical or Sexual,105.3
2,Sud,Victims 16-70 in the last 5 years,Partner/Ex Partner,Physical or Sexual,93.8

In [154]:
violence_per_region_probability = violence_per_region.groupby('Territory')['Probability%'].sum().reset_index()
violence_per_region_probability

  Territory  Probability%
0    Centre      0.186351
1      Nord      0.430323
2       Sud      0.383327

#### **Generata a dataframe of 200 lines for the variables "Region"**

In [155]:

#https://www.istat.it/it/files/2021/12/CENSIMENTO-E-DINAMICA-DEMOGRAFICA-2020.pdf

nord_popolation = 0.464
sud_population = 0.198
centre_population = 0.338

In [156]:
regions_list = [ 'Nord', 'Sud', 'Centre']
data = np.random.choice(regions_list, p=[nord_popolation, sud_population, centre_population], size=200)
violence_against_women = pd.DataFrame(data, columns=['Region of residence'])
violence_against_women.head()

  Region of residence
0                Nord
1                 Sud
2              Centre
3                Nord
4                Nord

### **Education Level**

#### **Probability of violence on womend devided per education level**

In [157]:
violence_per_educational_level = pd.read_csv('DataSet/violence_per_educational_level.csv')
violence_per_educational_level['Territory'].unique()

array(['Italy'], dtype=object)

In [158]:
columns_to_be_removed = ['ITTER107', 'Territory', 'TIPO_DATO_VIOLENZA', 'TIPOAUT', 'TIPOVIOLENZA', 'TITOLO_STUDIO', 'TIME', 'Select time', 'Flag Codes', 'Flags']

# Remove the specified columns from the 'Instruction_level_italy' DataFrame
violence_per_educational_level = violence_per_educational_level.drop(columns=columns_to_be_removed)

In [159]:
print( f'== Missing values for violence_per_educational_level ==')
violence_per_educational_level.isnull().sum()

== Missing values for violence_per_educational_level ==

Data type            0
Perpetrator          0
Type of violence     0
Educational level    0
Value                0
dtype: int64

In [160]:
# Filtering the DataFrame to select specific rows based on conditions

# call the function to filter and replace column 'Perpetrator' and 'DataType' previously defined
violence_per_educational_level = filter_and_replace(violence_per_educational_level)
# remove line total from educational level
violence_per_educational_level = violence_per_educational_level.loc[violence_per_educational_level['Educational level'] != 'total']

# call the function replace_violence_tpes previous defined for more clarity
violence_per_educational_level = replace_violence_types(violence_per_educational_level)
violence_per_educational_level.groupby(['Data type', 'Perpetrator', 'Type of violence', 'Educational level',])['Value'].sum().reset_index()

C:\Users\anton\AppData\Local\Temp\ipykernel_20604\1392319284.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['Perpetrator'] = dataframe['Perpetrator'].replace('current partner or former partner', 'Partner/Ex Partner')

,Data type,Perpetrator,Type of violence,Educational level,Value
0,Victims 16-70 in the last 5 years,Partner/Ex Partner,Physical or Sexual,diploma of lower secondary education,11.6
1,Victims 16-70 in the last 5 years,Partner/Ex Partner,Physical or Sexual,diploma of upper secondary education and Certi...,12.1
2,Victims 16-70 in the last 5 years,Partner/Ex Partner,Physical or Sexual,"no educational degree, final assessment (Prima...",6.9
3,Victims 16-70 in the last 5 years,Partner/Ex Partner,Physical or Sexual,"university diploma, bachelor’s degree, master’...",13.5

In [161]:
 #https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.all.html  
# https://stackoverflow.com/questions/39768547/replace-whole-string-if-it-contains-substring-in-pandas
# substitute the value that contain the word "scuola" in the education level column with 'Primary education'A
violence_per_educational_level.loc[violence_per_educational_level['Educational level'].str.contains('Primary school'), 'Educational level'] = 'Primary Education'

# substitute the value that contain the word "laurea" in the education level column with 'higher education'
violence_per_educational_level.loc[violence_per_educational_level['Educational level'].str.contains('university'), 'Educational level'] = 'Higher Education'

# substitute the value that contain the word "diploma" in the education level column with 'high school'
violence_per_educational_level.loc[violence_per_educational_level['Educational level'].str.contains('diploma'), 'Educational level'] = 'High School'

In [162]:
violence_per_educational_level.groupby(['Data type', 'Perpetrator', 'Type of violence', 'Educational level',])['Value'].sum().reset_index()

,Data type,Perpetrator,Type of violence,Educational level,Value
0,Victims 16-70 in the last 5 years,Partner/Ex Partner,Physical or Sexual,High School,23.7
1,Victims 16-70 in the last 5 years,Partner/Ex Partner,Physical or Sexual,Higher Education,13.5
2,Victims 16-70 in the last 5 years,Partner/Ex Partner,Physical or Sexual,Primary Education,6.9

In [163]:
violence_per_educational_level['Education_Probability%'] =violence_per_educational_level['Value']/violence_per_educational_level['Value'].sum()
violence_educational_level_probability = violence_per_educational_level.groupby('Educational level')['Education_Probability%'].sum().reset_index()
violence_educational_level_probability

   Educational level  Education_Probability%
0        High School                0.537415
1   Higher Education                0.306122
2  Primary Education                0.156463

#####  **Calculate the education level devided per regionr of women with age 15+ years**

The purpose of this first part is to determine the percentage of women aged 15 and above with various levels of education devided per area of residence: the North, Central, and Southern regions.

The data used for this estimation has been downloaded from the ISTAT website, which is the Italian Institute of Statistics, that leave avaiable to the public several datasets [[]](http://dati.istat.it/?lang=en). The selected dataset, titled "Population 15 years and over by the highest level of education - previous regulation (until 2020)," contains information on different levels of education for residents in Italy, reported in thousands, and provides insights into various demographic characteristics." 


    - Import the dataset

First we need to import the needed library and the dataset with the numpy read_csv function [[]](https://www.w3schools.com/python/pandas/pandas_csv.asp).

In [164]:
# read the dataset 
# https://www.w3schools.com/python/pandas/pandas_csv.asp
Education_level_italy = pd.read_csv('DataSet/Instruction_level_italy.csv')

    - Data Cleaning

It is now important clean and elaborate the dataset to being.

First I will check the dataset with the sample() function to investigate what columns we can drop.

In [165]:
# print first 5 rows  
Education_level_italy.sample(10)

,ITTER107,Territorio,TIPO_DATO_FOL,Tipo dato,SEXISTAT1,Sesso,ETA1,Classe di età,TITOLO_STUDIO,Titolo di studio,TIME,Seleziona periodo,Value,Flag Codes,Flags
3370,ITD,Nord-est,POP_15,popolazione 15 anni e oltre (migliaia),1,maschi,Y25-34,25-34 anni,6,diploma 4-5 anni (maturità),2020-Q3,T3-2020,242.051,NaN,NaN
5452,IT,Italia,POP_15,popolazione 15 anni e oltre (migliaia),2,femmine,Y_GE65,65 anni e più,3,"licenza di scuola elementare, nessun titolo di...",2020-Q3,T3-2020,4372.745,NaN,NaN
1790,ITC,Nord-ovest,POP_15,popolazione 15 anni e oltre (migliaia),9,totale,Y15-24,15-24 anni,6,diploma 4-5 anni (maturità),2019,2019,568.700,NaN,NaN
7427,ITFG,Mezzogiorno,POP_15,popolazione 15 anni e oltre (migliaia),2,femmine,Y15-64,15-64 anni,3,"licenza di scuola elementare, nessun titolo di...",2019-Q4,T4-2019,589.304,NaN,NaN
4650,ITD,Nord-est,POP_15,popolazione 15 anni e oltre (migliaia),2,femmine,Y45-49,45-49 anni,99,totale,2019,2019,478.032,NaN,NaN
6895,ITC,Nord-ovest,POP_15,popolazione 15 anni e oltre (migliaia),2,femmine,Y15-64,15-64 anni,4,licenza di scuola media,2019-Q1,T1-2019,1653.806,NaN,NaN
3524,ITE,Centro,POP_15,popolazione 15 anni e oltre (migliaia),1,maschi,Y25-34,25-34 anni,4,licenza di scuola media,2019-Q2,T2-2019,140.447,NaN,NaN
6176,ITE,Centro,POP_15,popolazione 15 anni e oltre (migliaia),2,femmine,Y_GE65,65 anni e più,4,licenza di scuola media,2019-Q2,T2-2019,313.052,NaN,NaN
400,ITC,Nord-ovest,POP_15,popolazione 15 anni e oltre (migliaia),1,maschi,Y_GE15,15 anni e più,11,laurea e post-laurea,2019,2019,974.384,NaN,NaN
3312,ITC,Nord-ovest,POP_15,popolazione 15 anni e oltre (migliaia),9,totale,Y25-34,25-34 anni,11,laurea e post-laurea,2019,2019,503.263,NaN,NaN

Upon examining the dataset, I have identified several columns that can be removed because they are not relevant for the analysis or because they contain redundant information.

These columns include: ['ITTER107', 'TIPO_DATO_FOL', 'SEXISTAT1', 'Tipo dato', 'ETA1', 'Classe di età', 'TITOLO_STUDIO', 'TIME', 'Flag Codes', 'Flags'].

I will use the drop() function with a variable to specify which columns to remove and update the DataFrame accordingly. We can them check the first 5 columns of the dataset with the head() function to see if the removal was successful.

In [166]:
# List of columns to be removed from the DataFrame
columns_to_be_removed = ['ITTER107', 'TIPO_DATO_FOL', 'SEXISTAT1', 'Tipo dato', 'ETA1', 'Classe di età', 'TITOLO_STUDIO', 'TIME', 'Flag Codes', 'Flags']

# Remove the specified columns from the 'Instruction_level_italy' DataFrame
Education_level_italy = Education_level_italy.drop(columns=columns_to_be_removed)

# Display the first few rows of the modified DataFrame
Education_level_italy.head()

,Territorio,Sesso,Titolo di studio,Seleziona periodo,Value
0,Italia,maschi,"licenza di scuola elementare, nessun titolo di...",2019,3165.895
1,Italia,maschi,"licenza di scuola elementare, nessun titolo di...",T1-2019,3211.849
2,Italia,maschi,"licenza di scuola elementare, nessun titolo di...",T2-2019,3179.996
3,Italia,maschi,"licenza di scuola elementare, nessun titolo di...",T4-2019,3113.926
4,Italia,maschi,"licenza di scuola elementare, nessun titolo di...",T3-2019,3157.808

Replace the colum name with a more understandacle meaning for english speaker using The rename() function [[]](https://www.kdnuggets.com/2022/11/4-ways-rename-pandas-columns.html).

In [167]:
# Renaming columns in a Pandas DataFrame
Education_level_italy.rename(
    columns={"Territorio": "Region", "Sesso": "Sex", "Titolo di studio": "Education Level","Seleziona periodo": "Year of observation" },
    inplace=True
)
# check the columns name of the dataset 
Education_level_italy.columns

Index(['Region', 'Sex', 'Education Level', 'Year of observation', 'Value'], dtype='object')

About the colum sex I will need to keep only female row. We can check the unique value with the function Unique().

In [168]:
# check the unique value in the column sex
Education_level_italy['Sex'].unique()

array(['maschi', 'femmine', 'totale'], dtype=object)

We will use the .loc [[]](https://deallen7.medium.com/using-pandas-loc-and-isin-to-filter-for-a-list-of-values-in-python-a1c862054058) function to select only the row with the specified value "femmine," and then we will update the dataset accordingly. Finally, we will replace "femmine" with "female [[]](https://datatofish.com/replace-values-pandas-dataframe/).

In [169]:
# keep only the rows with value "femmmine" in the sex colum
Education_level_italy = Education_level_italy.loc[Education_level_italy['Sex'] == 'femmine']
# replace "femmine" with "female"
Education_level_italy['Sex']=Education_level_italy['Sex'].replace("femmine", "Female")
# check unique value 
Education_level_italy['Sex'].unique()

array(['Female'], dtype=object)

The 'Region' column, after conducting a unique() analysis, revealed redundant values. 
'Italy,' 'Nord est,' and 'Nord Ovest' are already encompassed within 'Nord,' 'Centro' (Centre), and 'Mezzogiorno' (South). Consequently, I will remove the unnecessary values and rename the remaining rows for better clarity [[]](https://datatofish.com/replace-values-pandas-dataframe/).

In [170]:
# List of values to be selected from the 'Region' column
filter_list = ['Nord-est', 'Nord-ovest', 'Italia']

# Filter the DataFrame 'Instruction_level_italy' to exclude rows where 'Territorio' is in the 'filter_list'
Education_level_italy = Education_level_italy.loc[~Education_level_italy['Region'].isin(filter_list)]

# replace mezzogiorno and centro

Education_level_italy['Region'] = Education_level_italy['Region'].replace(["Mezzogiorno", "Centro"], value=["Sud", "Centre"])
# check the removal and replacement with the group by function 
filtered_grouped_data = Education_level_italy.groupby('Region')['Value'].sum().reset_index()
print(filtered_grouped_data)

   Region       Value
0  Centre  308497.782
1    Nord  701864.224
2     Sud  527195.457

Regarding the column "Year", after visualising the content, I decide to keep only the more recent observation that refer to the whole 2020.

In [171]:
# keep only the rows with value "2020" in the 'Year of observation' column
Education_level_italy = Education_level_italy.loc[Education_level_italy['Year of observation'] == '2020']

# display the unique value using the group by column 
Education_level_italy.groupby('Year of observation')['Value'].sum().reset_index()

  Year of observation       Value
0                2020  184291.114

The columns represent the five different levels of education that can be attained in Italy. However, for this analysis, I intend to categorize them into the following three main levels:

- Primary education: Individuals who have completed only primary school education (typically up to 13 years of age).
- High school education: Individuals who have successfully completed high school (typically up to 19 years of age).
- Higher education: This category encompasses all forms of higher education, including degrees, bachelor's degrees, master's degrees, PhDs, and more.

The replace will be done with the pandas metho str.contain [[]](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.contains.html), [[]](https://stackoverflow.com/questions/39768547/replace-whole-string-if-it-contains-substring-in-pandas).

In [172]:

# https://stackoverflow.com/questions/39768547/replace-whole-string-if-it-contains-substring-in-pandas
# substitute the value that contain the word "scuola" in the education level column with 'Primary education'A
Education_level_italy.loc[Education_level_italy['Education Level'].str.contains('scuola'), 'Education Level'] = 'Primary Education'

# substitute the value that contain the word "diploma" in the education level column with 'high school'
Education_level_italy.loc[Education_level_italy['Education Level'].str.contains('diploma'), 'Education Level'] = 'High School'

# substitute the value that contain the word "laurea" in the education level column with 'higher education'
Education_level_italy.loc[Education_level_italy['Education Level'].str.contains('laurea'), 'Education Level'] = 'Higher Education'

Then we can remove the 'total' column, as it is redundant, and group the dataset by education level. 
The removal will be done using the .loc function  [[]](https://www.shanelynn.ie/pandas-drop-delete-dataframe-rows-columns/) which will find all the values that don't match the given date, and the dataset will be updated accordingly.

In [173]:
# Filter the DataFrame 'Instruction_level_italy' to exclude rows where 'Territorio' is in the 'filter_list'
# https://www.shanelynn.ie/pandas-drop-delete-dataframe-rows-columns/
Education_level_italy = Education_level_italy.loc[Education_level_italy['Education Level'] != 'totale']

# Group by the dataset based on unique value of the column 'Education level'
Education_level_italy = Education_level_italy.groupby(['Region', 'Sex', 'Education Level', 'Year of observation'])['Value'].sum().reset_index()

Now we can split the datases on three different dataset, one for each region.

In [174]:
Education_level_italy

   Region     Sex    Education Level Year of observation      Value
0  Centre  Female        High School                2020   7281.301
1  Centre  Female   Higher Education                2020   4066.783
2  Centre  Female  Primary Education                2020   7111.766
3    Nord  Female        High School                2020  16744.704
4    Nord  Female   Higher Education                2020   8039.184
5    Nord  Female  Primary Education                2020  17261.569
6     Sud  Female        High School                2020  10937.283
7     Sud  Female   Higher Education                2020   4730.042
8     Sud  Female  Primary Education                2020  15972.930

In [175]:
Education_level_italy.columns

Index(['Region', 'Sex', 'Education Level', 'Year of observation', 'Value'], dtype='object')

Now, we can calculate the probability of each level of education divided by region. We use the *groupby* operation to group the data by the 'Region' column and calculate the sum of the values for each group. Afterward, we utilize the *map* [[]](https://www.geeksforgeeks.org/python-map-function/) function to create a new column, 'Probability%', based on the total value of the corresponding region.

In [176]:
# Group the data by 'Region' and calculate the sum of 'Value' for each group
region_groups = Education_level_italy.groupby('Region')['Value'].sum()

# Calculate the probability percentage for each region
# https://sparkbyexamples.com/pandas/pandas-map-function-explained/
# https://practicaldatascience.co.uk/data-science/how-to-use-the-pandas-map-function
Education_level_italy['Probability%'] = Education_level_italy['Value'] / Education_level_italy['Region'].map(region_groups)
Education_level_italy

,Region,Sex,Education Level,Year of observation,Value,Probability%
0,Centre,Female,High School,2020,7281.301,0.394440
1,Centre,Female,Higher Education,2020,4066.783,0.220304
2,Centre,Female,Primary Education,2020,7111.766,0.385256
3,Nord,Female,High School,2020,16744.704,0.398252
4,Nord,Female,Higher Education,2020,8039.184,0.191202
5,Nord,Female,Primary Education,2020,17261.569,0.410545
6,Sud,Female,High School,2020,10937.283,0.345676
7,Sud,Female,Higher Education,2020,4730.042,0.149494
8,Sud,Female,Primary Education,2020,15972.930,0.504829

In [178]:
# Group Education_level_italy by 'Region'
grouped_education = Education_level_italy.groupby('Region')['Probability%']

Education_List = ['High School', 'Primary Education', 'Higher Education']

# Define a function to sample education levels based on probabilities for each region
def Education_level(row):
    region = row["Region of residence"]
    probabilities = grouped_education.get_group(region).values
    education = np.random.choice(Education_List, p=probabilities)
    return education

# Apply the function to create the 'Education' column
violence_against_women["Education"] = violence_against_women.apply(Education_level, axis=1)

violence_against_women

    Region of residence          Education
0                  Nord  Primary Education
1                   Sud        High School
2                Centre  Primary Education
3                  Nord   Higher Education
4                  Nord        High School
..                  ...                ...
195                Nord        High School
196                Nord   Higher Education
197                Nord   Higher Education
198              Centre        High School
199                Nord        High School

[200 rows x 2 columns]

### Occupancy level

#### **calculate the percentage of occupancy in italy per region/level of education**

In [180]:
# import the dataset - Occupancy data set 

Occupancy_in_italy = pd.read_csv('DataSet/Occupancy data.csv')

In [182]:
Occupancy_in_italy.columns

Index(['FREQ', 'Frequency', 'REF_AREA', 'Territory', 'DATA_TYPE', 'Indicator',
       'SEX', 'Sex (DESC)', 'AGE', 'Age (DESC)', 'EDU_LEV_HIGHEST',
       'Highest level of education attained', 'Time (TIME_PERIOD)',
       'Observation', 'OBS_STATUS', 'Observation status'],
      dtype='object')

In [181]:
Occupancy_in_italy

,FREQ,Frequency,REF_AREA,Territory,DATA_TYPE,Indicator,SEX,Sex (DESC),AGE,Age (DESC),EDU_LEV_HIGHEST,Highest level of education attained,Time (TIME_PERIOD),Observation,OBS_STATUS,Observation status
0,A,Annual,IT,Italy,EMP_R,Employment rate,1,Males,Y15-24,15-24 years,13,'No educational degree,primary and lower secondary school certificate',2021,9.831454,NaN
1,A,Annual,IT,Italy,EMP_R,Employment rate,1,Males,Y15-24,15-24 years,13,'No educational degree,primary and lower secondary school certificate',2022,10.582486,NaN
2,A,Annual,IT,Italy,EMP_R,Employment rate,1,Males,Y15-24,15-24 years,7,Upper and post secondary,2021,34.882412,NaN,NaN
3,A,Annual,IT,Italy,EMP_R,Employment rate,1,Males,Y15-24,15-24 years,7,Upper and post secondary,2022,37.77669,NaN,NaN
4,A,Annual,IT,Italy,EMP_R,Employment rate,1,Males,Y15-24,15-24 years,11,'Tertiary (university,doctoral and specialization courses)',2021,20.871990,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9265,Q,Quarterly,ITFG,Mezzogiorno,EMP_R,Employment rate,9,Total,Y15-89,15-89 years,99,Total,2022-Q2,36.562612,NaN,NaN
9266,Q,Quarterly,ITFG,Mezzogiorno,EMP_R,Employment rate,9,Total,Y15-89,15-89 years,99,Total,2022-Q3,36.103998,NaN,NaN
9267,Q,Quarterly,ITFG,Mezzogiorno,EMP_R,Employment rate,9,Total,Y15-89,15-89 years,99,Total,2022-Q4,36.354608,NaN,NaN
9268,Q,Quarterly,ITFG,Mezzogiorno,EMP_R,Employment rate,9,Total,Y15-89,15-89 years,99,Total,2023-Q1,36.269613,NaN,NaN
9269,Q,Quarterly,ITFG,Mezzogiorno,EMP_R,Employment rate,9,Total,Y15-89,15-89 years,99,Total,2023-Q2,37.14449,NaN,NaN

In [ ]:
# List of columns to be removed from the DataFrame
columns_to_be_removed = ['FREQ', 'Frequency', 'REF_AREA', 'DATA_TYPE',
       'SEX', 'AGE', 'EDU_LEV_HIGHEST', 'Observation', 'OBS_STATUS', 'Observation status']

# Remove the specified columns from the 'Instruction_level_italy' DataFrame
violence_per_region = violence_per_region.drop(columns=columns_to_be_removed)

# Renaming columns in a Pandas DataFrame
violence_per_region.rename(
    columns={"TIME": "Year"},
    inplace=True
)

violence_per_region.head()