<h3><center>Programming for Data Analytics - Project 1</center></h3>
<h1><center>Fisic and sexual violance against women in italy</center></h1>

### Region of resident

The regiorn of residence is an important factor when analyse the risk of violence against women. Poorest Region often are associates with more cases of sexual/physical violence against women. This can be related to the fact that women have less possibilities due to a lower economic independence and less service provided by the comunity.

    - probability of abuse devided per the three main italian region

In [408]:
import pandas as pd
import numpy as np

In [409]:
#import the dataset Violence Divide per Region 
violence_per_region = pd.read_csv('DataSet/Violence divided per region.csv')
violence_per_region.head()

,ITTER107,Territory,TIPO_DATO_VIOLENZA,Data type,TIPOAUT,Perpetrator,TIPOVIOLENZA,Type of violence,TIME,Select time,Value,Flag Codes,Flags
0,IT,Italy,W16_70_PNP_LT,women aged 16-70 years who have suffered viole...,ANY_P_NOP,any man (partner and non-partner),PHSEX,physical or sexual,2014,2014,31.5,NaN,NaN
1,IT,Italy,W16_70_PNP_LT,women aged 16-70 years who have suffered viole...,ANY_P_NOP,any man (partner and non-partner),PHY,physical violence,2014,2014,20.2,NaN,NaN
2,IT,Italy,W16_70_PNP_LT,women aged 16-70 years who have suffered viole...,ANY_P_NOP,any man (partner and non-partner),SEXVIOL,sexual violence,2014,2014,21.0,NaN,NaN
3,IT,Italy,W16_70_PNP_LT,women aged 16-70 years who have suffered viole...,ANY_P_NOP,any man (partner and non-partner),RAPE_OR_ATT,rape or attempted rape,2014,2014,5.4,NaN,NaN
4,IT,Italy,W16_70_PNP_LT,women aged 16-70 years who have suffered viole...,NOP,man non-partner,PHSEX,physical or sexual,2014,2014,24.7,NaN,NaN

In [410]:
# List of columns to be removed from the DataFrame
columns_to_be_removed = ['ITTER107', 'TIPO_DATO_VIOLENZA','TIPOAUT', 'TIPOVIOLENZA', 'Select time', 'Flag Codes', 'Flags']

# Remove the specified columns from the 'Instruction_level_italy' DataFrame
violence_per_region = violence_per_region.drop(columns=columns_to_be_removed)

# Renaming columns in a Pandas DataFrame
violence_per_region.rename(
    columns={"TIME": "Year"},
    inplace=True
)

In [411]:
# drop italy from the terrytory 
violence_per_region = violence_per_region.loc[violence_per_region['Territory'] != 'Italy']

# define list of region devided for geographic area 
Nord = ['Liguria', 'Lombardia', 'Piemonte', "Valle d'Aosta / Vallée d'Aoste	", 'Emilia-Romagna', 'Friuli Venezia Giulia', 'Trentino Alto Adige / Südtirol', 'Veneto', 'Provincia Autonoma Bolzano / Bozen' ]

# https://www.tuttitalia.it/statistiche/nord-centro-mezzogiorno-italia/
# https://www.youtube.com/watch?app=desktop&v=8Y1UkY0oAXM
#replace multiple values in position column
replacements_regions = {
    'Liguria': 'Nord',
    'Lombardia': 'Nord',
    'Piemonte': 'Nord',
    "Valle d'Aosta / Vallée d'Aoste": 'Nord',
    'Emilia-Romagna': 'Nord',
    'Friuli-Venezia Giulia': 'Nord',
    'Trentino Alto Adige / Südtirol': 'Nord',
    'Veneto': 'Nord',
    'Provincia Autonoma Bolzano / Bozen': 'Nord',
    'Provincia Autonoma Trento': 'Nord',
    'Lazio': 'Centre',
    'Marche': 'Centre',
    'Toscana': 'Centre',
    'Umbria': 'Centre',
    'Abruzzo': 'Sud',
    'Basilicata': 'Sud',
    'Calabria': 'Sud',
    'Campania': 'Sud',
    'Molise': 'Sud',
    'Puglia': 'Sud',
    'Sardegna': 'Sud',
    'Sicilia': 'Sud',
    'Basilicata': 'Sud',
    'Calabria': 'Sud',
    'Campania': 'Sud',
    'Molise': 'Sud',
    'Puglia': 'Sud',
    'Sardegna': 'Sud',
    'Sicilia': 'Sud',
}

violence_per_region['Territory'] = violence_per_region['Territory'].replace(replacements_regions)

violence_per_region['Probability%'] = violence_per_region['Value']/violence_per_region['Value'].sum()

violence_per_region_probability = violence_per_region.groupby('Territory')['Probability%'].sum().reset_index()
violence_per_region_probability

  Territory  Probability%
0    Centre      0.199070
1      Nord      0.452397
2       Sud      0.348533

    - Generata a dataset of 200 lines for the variables "Region"

In [412]:

#https://www.istat.it/it/files/2021/12/CENSIMENTO-E-DINAMICA-DEMOGRAFICA-2020.pdf

nord_popolation = 0.464
sud_population = 0.198
centre_population = 0.338

In [413]:
regions_list = [ 'Nord', 'Sud', 'Centre']
data = np.random.choice(regions_list, p=[nord_popolation, sud_population, centre_population], size=200)
violence_against_women = pd.DataFrame(data, columns=['Region of residence'])
violence_against_women.head()

  Region of residence
0                 Sud
1              Centre
2                Nord
3              Centre
4              Centre

In [414]:
# Define a function to sample education levels based on probabilities for each region
def Probability_Territory(row):
    region = row["Region of residence"]
    Probability = violence_per_region_probability.get_group(region).values
    return Probability 

# Apply the function to create the 'Education' column
violence_against_women["Probability_Territory"] = violence_against_women.apply(Probability_Territory, axis=1)

AttributeError: 'DataFrame' object has no attribute 'get_group'

#####  **Calculate the education level devided per regionr of women with age 15+ years**

The purpose of this first part is to determine the percentage of women aged 15 and above with various levels of education devided per area of residence: the North, Central, and Southern regions.

The data used for this estimation has been downloaded from the ISTAT website, which is the Italian Institute of Statistics, that leave avaiable to the public several datasets [[]](http://dati.istat.it/?lang=en). The selected dataset, titled "Population 15 years and over by the highest level of education - previous regulation (until 2020)," contains information on different levels of education for residents in Italy, reported in thousands, and provides insights into various demographic characteristics." 


    - Import the dataset

First we need to import the needed library and the dataset with the numpy read_csv function [[]](https://www.w3schools.com/python/pandas/pandas_csv.asp).

In [ ]:
# import pandas
import pandas as pd
import numpy as np
# read the dataset 
# https://www.w3schools.com/python/pandas/pandas_csv.asp
Education_level_italy = pd.read_csv('DataSet/Instruction_level_italy.csv')

    - Data Cleaning

It is now important clean and elaborate the dataset to being.

First I will check the dataset with the sample() function to investigate what columns we can drop.

In [ ]:
# print first 5 rows  
Education_level_italy.sample(10)

Upon examining the dataset, I have identified several columns that can be removed because they are not relevant for the analysis or because they contain redundant information.

These columns include: ['ITTER107', 'TIPO_DATO_FOL', 'SEXISTAT1', 'Tipo dato', 'ETA1', 'Classe di età', 'TITOLO_STUDIO', 'TIME', 'Flag Codes', 'Flags'].

I will use the drop() function with a variable to specify which columns to remove and update the DataFrame accordingly. We can them check the first 5 columns of the dataset with the head() function to see if the removal was successful.

In [ ]:
# List of columns to be removed from the DataFrame
columns_to_be_removed = ['ITTER107', 'TIPO_DATO_FOL', 'SEXISTAT1', 'Tipo dato', 'ETA1', 'Classe di età', 'TITOLO_STUDIO', 'TIME', 'Flag Codes', 'Flags']

# Remove the specified columns from the 'Instruction_level_italy' DataFrame
Education_level_italy = Education_level_italy.drop(columns=columns_to_be_removed)

# Display the first few rows of the modified DataFrame
Education_level_italy.head()

Replace the colum name with a more understandacle meaning for english speaker using The rename() function [[]](https://www.kdnuggets.com/2022/11/4-ways-rename-pandas-columns.html).

In [ ]:
# Renaming columns in a Pandas DataFrame
Education_level_italy.rename(
    columns={"Territorio": "Region", "Sesso": "Sex", "Titolo di studio": "Education Level","Seleziona periodo": "Year of observation" },
    inplace=True
)
# check the columns name of the dataset 
Education_level_italy.columns

About the colum sex I will need to keep only female row. We can check the unique value with the function Unique().

In [ ]:
# check the unique value in the column sex
Education_level_italy['Sex'].unique()

We will use the .loc [[]](https://deallen7.medium.com/using-pandas-loc-and-isin-to-filter-for-a-list-of-values-in-python-a1c862054058) function to select only the row with the specified value "femmine," and then we will update the dataset accordingly. Finally, we will replace "femmine" with "female [[]](https://datatofish.com/replace-values-pandas-dataframe/).

In [ ]:
# keep only the rows with value "femmmine" in the sex colum
Education_level_italy = Education_level_italy.loc[Education_level_italy['Sex'] == 'femmine']
# replace "femmine" with "female"
Education_level_italy['Sex']=Education_level_italy['Sex'].replace("femmine", "Female")
# check unique value 
Education_level_italy['Sex'].unique()

The 'Region' column, after conducting a unique() analysis, revealed redundant values. 
'Italy,' 'Nord est,' and 'Nord Ovest' are already encompassed within 'Nord,' 'Centro' (Centre), and 'Mezzogiorno' (South). Consequently, I will remove the unnecessary values and rename the remaining rows for better clarity [[]](https://datatofish.com/replace-values-pandas-dataframe/).

In [ ]:
# List of values to be selected from the 'Region' column
filter_list = ['Nord-est', 'Nord-ovest', 'Italia']

# Filter the DataFrame 'Instruction_level_italy' to exclude rows where 'Territorio' is in the 'filter_list'
Education_level_italy = Education_level_italy.loc[~Education_level_italy['Region'].isin(filter_list)]

# replace mezzogiorno and centro

Education_level_italy['Region'] = Education_level_italy['Region'].replace(["Mezzogiorno", "Centro"], value=["Sud", "Centre"])
# check the removal and replacement with the group by function 
filtered_grouped_data = Education_level_italy.groupby('Region')['Value'].sum().reset_index()
print(filtered_grouped_data)

Regarding the column "Year", after visualising the content, I decide to keep only the more recent observation that refer to the whole 2020.

In [ ]:
# keep only the rows with value "2020" in the 'Year of observation' column
Education_level_italy = Education_level_italy.loc[Education_level_italy['Year of observation'] == '2020']

# display the unique value using the group by column 
Education_level_italy.groupby('Year of observation')['Value'].sum().reset_index()

The columns represent the five different levels of education that can be attained in Italy. However, for this analysis, I intend to categorize them into the following three main levels:

- Primary education: Individuals who have completed only primary school education (typically up to 13 years of age).
- High school education: Individuals who have successfully completed high school (typically up to 19 years of age).
- Higher education: This category encompasses all forms of higher education, including degrees, bachelor's degrees, master's degrees, PhDs, and more.

The replace will be done with the pandas metho str.contain [[]](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.contains.html), [[]](https://stackoverflow.com/questions/39768547/replace-whole-string-if-it-contains-substring-in-pandas).

In [ ]:

# https://stackoverflow.com/questions/39768547/replace-whole-string-if-it-contains-substring-in-pandas
# substitute the value that contain the word "scuola" in the education level column with 'Primary education'A
Education_level_italy.loc[Education_level_italy['Education Level'].str.contains('scuola'), 'Education Level'] = 'Primary Education'

# substitute the value that contain the word "diploma" in the education level column with 'high school'
Education_level_italy.loc[Education_level_italy['Education Level'].str.contains('diploma'), 'Education Level'] = 'High School'

# substitute the value that contain the word "laurea" in the education level column with 'higher education'
Education_level_italy.loc[Education_level_italy['Education Level'].str.contains('laurea'), 'Education Level'] = 'Higher Education'

Then we can remove the 'total' column, as it is redundant, and group the dataset by education level. 
The removal will be done using the .loc function  [[]](https://www.shanelynn.ie/pandas-drop-delete-dataframe-rows-columns/) which will find all the values that don't match the given date, and the dataset will be updated accordingly.

In [ ]:
# Filter the DataFrame 'Instruction_level_italy' to exclude rows where 'Territorio' is in the 'filter_list'
# https://www.shanelynn.ie/pandas-drop-delete-dataframe-rows-columns/
Education_level_italy = Education_level_italy.loc[Education_level_italy['Education Level'] != 'totale']

# Group by the dataset based on unique value of the column 'Education level'
Education_level_italy = Education_level_italy.groupby(['Region', 'Sex', 'Education Level', 'Year of observation'])['Value'].sum().reset_index()

Now we can split the datases on three different dataset, one for each region.

In [ ]:
Education_level_italy

In [ ]:
Education_level_italy['Region'].unique()

Now, we can calculate the probability of each level of education divided by region. We use the *groupby* operation to group the data by the 'Region' column and calculate the sum of the values for each group. Afterward, we utilize the *map* [[]](https://www.geeksforgeeks.org/python-map-function/) function to create a new column, 'Probability%', based on the total value of the corresponding region.

In [ ]:
# Group the data by 'Region' and calculate the sum of 'Value' for each group
region_groups = Education_level_italy.groupby('Region')['Value'].sum()

# Calculate the probability percentage for each region
Education_level_italy['Probability%'] = Education_level_italy['Value'] / Education_level_italy['Region'].map(region_groups)
Education_level_italy

In [ ]:
# Group Education_level_italy by 'Region'
grouped_education = Education_level_italy.groupby('Region')['Probability%']

Education_List = ['High School', 'Primary Education', 'Higher Education']

# Define a function to sample education levels based on probabilities for each region
def Education_level(row):
    region = row["Region of residence"]
    probabilities = grouped_education.get_group(region).values
    education = np.random.choice(Education_List, p=probabilities)
    return education

# Apply the function to create the 'Education' column
violence_against_women["Education"] = violence_against_women.apply(Education_level, axis=1)

violence_against_women