<h3><center>Programming for Data Analytics - Project 1</center></h3>
<h1><center>Fisic and sexual violance against women in italy</center></h1>

### Region of resident

The regiorn of residence is an important factor when analyse the risk of violence against women.

In [111]:
import pandas as pd 
import numpy as np

In [112]:
#https://www.istat.it/it/files/2021/12/CENSIMENTO-E-DINAMICA-DEMOGRAFICA-2020.pdf

nord_popolation = 0.464
sud_population = 0.198
centre_population = 0.338

In [113]:
regions_list = [ 'Nord', 'Sud', 'Centre']
data = np.random.choice(regions_list, p=[nord_popolation, sud_population, centre_population], size=200)
violence_against_vomen = pd.DataFrame(data, columns=['Region of residence'])

#####  **Calculate the education level devided per regionr of women with age 15+ years**

The purpose of this first part is to determine the percentage of women aged 15 and above with various levels of education devided per area of residence: the North, Central, and Southern regions.

The data used for this estimation has been downloaded from the ISTAT website, which is the Italian Institute of Statistics, that leave avaiable to the public several datasets [[]](http://dati.istat.it/?lang=en). The selected dataset, titled "Population 15 years and over by the highest level of education - previous regulation (until 2020)," contains information on different levels of education for residents in Italy, reported in thousands, and provides insights into various demographic characteristics." 


    - Import the dataset

First we need to import the needed library and the dataset with the numpy read_csv function [[]](https://www.w3schools.com/python/pandas/pandas_csv.asp).

In [114]:
# import pandas
import pandas as pd
import numpy as np
# read the dataset 
# https://www.w3schools.com/python/pandas/pandas_csv.asp
Education_level_italy = pd.read_csv('DataSet/Instruction_level_italy.csv')

    - Data Cleaning

It is now important clean and elaborate the dataset to being.

First I will check the dataset with the sample() function to investigate what columns we can drop.

In [115]:
# print first 5 rows  
Education_level_italy.sample(10)

,ITTER107,Territorio,TIPO_DATO_FOL,Tipo dato,SEXISTAT1,Sesso,ETA1,Classe di età,TITOLO_STUDIO,Titolo di studio,TIME,Seleziona periodo,Value,Flag Codes,Flags
8405,ITE,Centro,POP_15,popolazione 15 anni e oltre (migliaia),9,totale,Y35-64,35-64 anni,5,diploma 2-3 anni (qualifica professionale),2019-Q1,T1-2019,249.348,NaN,NaN
2937,IT,Italia,POP_15,popolazione 15 anni e oltre (migliaia),9,totale,Y25-34,25-34 anni,5,diploma 2-3 anni (qualifica professionale),2020,2020,387.852,NaN,NaN
3602,ITE,Centro,POP_15,popolazione 15 anni e oltre (migliaia),2,femmine,Y25-34,25-34 anni,6,diploma 4-5 anni (maturità),2019,2019,252.765,NaN,NaN
8094,ITD,Nord-est,POP_15,popolazione 15 anni e oltre (migliaia),1,maschi,Y35-64,35-64 anni,4,licenza di scuola media,2019,2019,901.146,NaN,NaN
3661,ITE,Centro,POP_15,popolazione 15 anni e oltre (migliaia),9,totale,Y25-34,25-34 anni,5,diploma 2-3 anni (qualifica professionale),2020-Q4,T4-2020,42.601,NaN,NaN
8407,ITE,Centro,POP_15,popolazione 15 anni e oltre (migliaia),9,totale,Y35-64,35-64 anni,5,diploma 2-3 anni (qualifica professionale),2019-Q4,T4-2019,255.606,NaN,NaN
6858,ITC,Nord-ovest,POP_15,popolazione 15 anni e oltre (migliaia),1,maschi,Y15-64,15-64 anni,6,diploma 4-5 anni (maturità),2019-Q3,T3-2019,1760.996,NaN,NaN
7200,ITE,Centro,POP_15,popolazione 15 anni e oltre (migliaia),1,maschi,Y15-64,15-64 anni,4,licenza di scuola media,2020-Q2,T2-2020,1311.180,NaN,NaN
6453,ITFG,Mezzogiorno,POP_15,popolazione 15 anni e oltre (migliaia),9,totale,Y_GE65,65 anni e più,11,laurea e post-laurea,2020-Q4,T4-2020,337.364,NaN,NaN
4218,ITD,Nord-est,POP_15,popolazione 15 anni e oltre (migliaia),2,femmine,Y35-39,35-39 anni,99,totale,2019,2019,344.393,NaN,NaN

Upon examining the dataset, I have identified several columns that can be removed because they are not relevant for the analysis or because they contain redundant information.

These columns include: ['ITTER107', 'TIPO_DATO_FOL', 'SEXISTAT1', 'Tipo dato', 'ETA1', 'Classe di età', 'TITOLO_STUDIO', 'TIME', 'Flag Codes', 'Flags'].

I will use the drop() function with a variable to specify which columns to remove and update the DataFrame accordingly. We can them check the first 5 columns of the dataset with the head() function to see if the removal was successful.

In [116]:
# List of columns to be removed from the DataFrame
columns_to_be_removed = ['ITTER107', 'TIPO_DATO_FOL', 'SEXISTAT1', 'Tipo dato', 'ETA1', 'Classe di età', 'TITOLO_STUDIO', 'TIME', 'Flag Codes', 'Flags']

# Remove the specified columns from the 'Instruction_level_italy' DataFrame
Education_level_italy = Education_level_italy.drop(columns=columns_to_be_removed)

# Display the first few rows of the modified DataFrame
Education_level_italy.head()

,Territorio,Sesso,Titolo di studio,Seleziona periodo,Value
0,Italia,maschi,"licenza di scuola elementare, nessun titolo di...",2019,3165.895
1,Italia,maschi,"licenza di scuola elementare, nessun titolo di...",T1-2019,3211.849
2,Italia,maschi,"licenza di scuola elementare, nessun titolo di...",T2-2019,3179.996
3,Italia,maschi,"licenza di scuola elementare, nessun titolo di...",T4-2019,3113.926
4,Italia,maschi,"licenza di scuola elementare, nessun titolo di...",T3-2019,3157.808

Replace the colum name with a more understandacle meaning for english speaker using The rename() function [[]](https://www.kdnuggets.com/2022/11/4-ways-rename-pandas-columns.html).

In [117]:
# Renaming columns in a Pandas DataFrame
Education_level_italy.rename(
    columns={"Territorio": "Region", "Sesso": "Sex", "Titolo di studio": "Education Level","Seleziona periodo": "Year of observation" },
    inplace=True
)
# check the columns name of the dataset 
Education_level_italy.columns

Index(['Region', 'Sex', 'Education Level', 'Year of observation', 'Value'], dtype='object')

About the colum sex I will need to keep only female row. We can check the unique value with the function Unique().

In [109]:
# check the unique value in the column sex
Education_level_italy['Sex'].unique()

array(['maschi', 'femmine', 'totale'], dtype=object)

We will use the .loc [[]](https://deallen7.medium.com/using-pandas-loc-and-isin-to-filter-for-a-list-of-values-in-python-a1c862054058) function to select only the row with the specified value "femmine," and then we will update the dataset accordingly. Finally, we will replace "femmine" with "female [[]](https://www.geeksforgeeks.org/python-pandas-dataframe-replace/).

In [110]:
# keep only the rows with value "femmmine" in the sex colum
Education_level_italy = Education_level_italy.loc[Education_level_italy['Sex'] == 'femmine']
# replace "femmine" with "female"
Education_level_italy.replace(to_replace="femmine", value="Female")
# check unique value 
Education_level_italy['Sex'].unique()

array(['femmine'], dtype=object)

The 'Region' column, after conducting a unique() analysis, revealed redundant values. 
'Italy,' 'Nord est,' and 'Nord Ovest' are already encompassed within 'Nord,' 'Centro' (Centre), and 'Mezzogiorno' (South). Consequently, I will remove the unnecessary values and rename the remaining rows for better clarity [[]](https://datatofish.com/replace-values-pandas-dataframe/).

In [118]:
# List of values to be selected from the 'Region' column
filter_list = ['Nord-est', 'Nord-ovest', 'Italia']

# Filter the DataFrame 'Instruction_level_italy' to exclude rows where 'Territorio' is in the 'filter_list'
Education_level_italy = Education_level_italy.loc[~Education_level_italy['Region'].isin(filter_list)]

# replace mezzogiorno and centro

Education_level_italy['Region'] = Education_level_italy['Region'].replace(["Mezzogiorno", "Centro"], value=["Sud", "Centre"])
# check the removal and replacement with the group by function 
filtered_grouped_data = Education_level_italy.groupby('Region')['Value'].sum().reset_index()
print(filtered_grouped_data)

   Region        Value
0  Centre  1194029.771
1    Nord  2748955.103
2     Sud  2056358.925

Regarding the column "Year", after visualising the content, I decide to keep only the more recent observation that refer to the whole 2020.

In [119]:
# keep only the rows with value "2020" in the 'Year of observation' column
Education_level_italy = Education_level_italy.loc[Education_level_italy['Year of observation'] == '2020']

# check the unique value in the 'Year of observation' column.
Education_level_italy['Year of observation'].unique()

array(['2020'], dtype=object)

Finally we will need to elaborate the educational level column.

In [120]:
# keep only the rows with value "2020" in the 'Year of observation' column
Education_level_italy = Education_level_italy.loc[Education_level_italy['Year of observation'] == '2020']

# display the unique value using the group by column 
Education_level_italy.groupby('Education Level')['Value'].sum().reset_index()

                                     Education Level       Value
0         diploma 2-3 anni (qualifica professionale)   20686.809
1                        diploma 4-5 anni (maturità)  120897.906
2                               laurea e post-laurea   59086.998
3  licenza di scuola elementare, nessun titolo di...   39737.265
4                            licenza di scuola media  120543.096
5                                             totale  360952.056

The columns represent the five different levels of education that can be attained in Italy. However, for this analysis, I intend to categorize them into the following three main levels:

- Primary education: Individuals who have completed only primary school education (typically up to 13 years of age).
- High school education: Individuals who have successfully completed high school (typically up to 19 years of age).
- Higher education: This category encompasses all forms of higher education, including degrees, bachelor's degrees, master's degrees, PhDs, and more.

The replace will be done with the pandas metho str.contain [[]](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.str.contains.html), [[]](https://stackoverflow.com/questions/39768547/replace-whole-string-if-it-contains-substring-in-pandas).

In [121]:

# https://stackoverflow.com/questions/39768547/replace-whole-string-if-it-contains-substring-in-pandas
# substitute the value that contain the word "scuola" in the education level column with 'Primary education'A
Education_level_italy.loc[Education_level_italy['Education Level'].str.contains('scuola'), 'Education Level'] = 'Primary Education'

# substitute the value that contain the word "diploma" in the education level column with 'high school'
Education_level_italy.loc[Education_level_italy['Education Level'].str.contains('diploma'), 'Education Level'] = 'High School'

# substitute the value that contain the word "laurea" in the education level column with 'higher education'
Education_level_italy.loc[Education_level_italy['Education Level'].str.contains('laurea'), 'Education Level'] = 'Higher Education'

Then we can remove the 'total' column, as it is redundant, and group the dataset by education level. 
The removal will be done using the .loc function  [[]](https://www.shanelynn.ie/pandas-drop-delete-dataframe-rows-columns/) which will find all the values that don't match the given date, and the dataset will be updated accordingly.

In [122]:
# Filter the DataFrame 'Instruction_level_italy' to exclude rows where 'Territorio' is in the 'filter_list'
# https://www.shanelynn.ie/pandas-drop-delete-dataframe-rows-columns/
Education_level_italy = Education_level_italy.loc[Education_level_italy['Education Level'] != 'totale']

# Group by the dataset based on unique value of the column 'Education level'
Education_level_italy = Education_level_italy.groupby(['Region', 'Sex', 'Education Level', 'Year of observation'])['Value'].sum().reset_index()

Now we can split the datases on three different dataset, one for each region.

In [123]:
Education_level_italy

    Region      Sex    Education Level Year of observation      Value
0   Centre  femmine        High School                2020   7281.301
1   Centre  femmine   Higher Education                2020   4066.783
2   Centre  femmine  Primary Education                2020   7111.766
3   Centre   maschi        High School                2020   7289.004
4   Centre   maschi   Higher Education                2020   3014.212
5   Centre   maschi  Primary Education                2020   7101.650
6   Centre   totale        High School                2020  14570.305
7   Centre   totale   Higher Education                2020   7080.989
8   Centre   totale  Primary Education                2020  14213.416
9     Nord  femmine        High School                2020  16744.704
10    Nord  femmine   Higher Education                2020   8039.184
11    Nord  femmine  Primary Education                2020  17261.569
12    Nord   maschi        High School                2020  17166.621
13    Nord   maschi   Higher Education                2020   6192.710
14    Nord   maschi  Primary Education                2020  17304.911
15    Nord   totale        High School                2020  33911.321
16    Nord   totale   Higher Education                2020  14231.894
17    Nord   totale  Primary Education                2020  34566.477
18     Sud  femmine        High School                2020  10937.283
19     Sud  femmine   Higher Education                2020   4730.042
20     Sud  femmine  Primary Education                2020  15972.930
21     Sud   maschi        High School                2020  11373.448
22     Sud   maschi   Higher Education                2020   3500.572
23     Sud   maschi  Primary Education                2020  15387.357
24     Sud   totale        High School                2020  22310.728
25     Sud   totale   Higher Education                2020   8230.612
26     Sud   totale  Primary Education                2020  31360.285

In [124]:
Education_level_italy['Region'].unique()

array(['Centre', 'Nord', 'Sud'], dtype=object)

Now, we can calculate the probability of each level of education divided by region. We use the *groupby* operation to group the data by the 'Region' column and calculate the sum of the values for each group. Afterward, we utilize the *map* [[]](https://www.geeksforgeeks.org/python-map-function/) function to create a new column, 'Probability%', based on the total value of the corresponding region.

In [125]:
# Group the data by 'Region' and calculate the sum of 'Value' for each group
region_groups = Education_level_italy.groupby('Region')['Value'].sum()

# Calculate the probability percentage for each region
Education_level_italy['Probability%'] = Education_level_italy['Value'] / Education_level_italy['Region'].map(region_groups)
Education_level_italy

,Region,Sex,Education Level,Year of observation,Value,Probability%
0,Centre,femmine,High School,2020,7281.301,0.101511
1,Centre,femmine,Higher Education,2020,4066.783,0.056696
2,Centre,femmine,Primary Education,2020,7111.766,0.099147
3,Centre,maschi,High School,2020,7289.004,0.101618
4,Centre,maschi,Higher Education,2020,3014.212,0.042022
5,Centre,maschi,Primary Education,2020,7101.650,0.099006
6,Centre,totale,High School,2020,14570.305,0.203129
7,Centre,totale,Higher Education,2020,7080.989,0.098718
8,Centre,totale,Primary Education,2020,14213.416,0.198153
9,Nord,femmine,High School,2020,16744.704,0.101226
10,Nord,femmine,Higher Education,2020,8039.184,0.048599
11,Nord,femmine,Primary Education,2020,17261.569,0.104350
12,Nord,maschi,High School,2020,17166.621,0.103776
13,Nord,maschi,Higher Education,2020,6192.710,0.037436
14,Nord,maschi,Primary Education,2020,17304.911,0.104612
15,Nord,totale,High School,2020,33911.321,0.205002
16,Nord,totale,Higher Education,2020,14231.894,0.086035
17,Nord,totale,Primary Education,2020,34566.477,0.208963
18,Sud,femmine,High School,2020,10937.283,0.088344
19,Sud,femmine,Higher Education,2020,4730.042,0.038206
20,Sud,femmine,Primary Education,2020,15972.930,0.129019
21,Sud,maschi,High School,2020,11373.448,0.091867
22,Sud,maschi,Higher Education,2020,3500.572,0.028275
23,Sud,maschi,Primary Education,2020,15387.357,0.124289
24,Sud,totale,High School,2020,22310.728,0.180211
25,Sud,totale,Higher Education,2020,8230.612,0.066481
26,Sud,totale,Primary Education,2020,31360.285,0.253307

In [126]:
sorter = ['Primary Education', 'High School', 'Higher Education']

In [127]:
nord_education_probability = Education_level_italy.loc[Education_level_italy['Region'] == 'Nord']['Probability%']
sud_population_education_probability = Education_level_italy.loc[Education_level_italy['Region'] == 'Sud']['Probability%']
centre_population_education_probability = Education_level_italy.loc[Education_level_italy['Region'] == 'Centre']['Probability%']

In [128]:
violence_against_vomen

    Region of residence
0                  Nord
1                  Nord
2                Centre
3                Centre
4                  Nord
..                  ...
195              Centre
196              Centre
197                 Sud
198                Nord
199                Nord

[200 rows x 1 columns]

In [129]:
nord_education_probability = Education_level_italy.loc[Education_level_italy['Region'] == 'Nord']['Probability%']
sud_population_education_probability = Education_level_italy.loc[Education_level_italy['Region'] == 'Sud']['Probability%']
centre_population_education_probability = Education_level_italy.loc[Education_level_italy['Region'] == 'Centre']['Probability%']

a = ['high school', 'Primary Eduacation', 'Higher Education']
x = 'Nord'
if x == "Nord":
    sampled_education_level = np.random.choice(a, p=nord_education_probability.values)

print(sampled_education_level)

ValueError: 'a' and 'p' must have same size