<h3><center>Programming for Data Analytics - Project 1</center></h3>
<h1><center>Fisic and sexual violance against women in italy</center></h1>

The purpose of this first part is to determine the percentage of women aged 15 and above with various levels of education devided per area of residence: the North, Central, and Southern regions.

The data used for this estimation has been downloaded from the ISTAT website, which is the Italian Institute of Statistics, that leave avaiable to the public several datasets [[]](http://dati.istat.it/?lang=en). The selected dataset, titled "Population 15 years and over by the highest level of education - previous regulation (until 2020)," contains information on different levels of education for residents in Italy, reported in thousands, and provides insights into various demographic characteristics." 


    - Import the dataset

First we need to import the needed library and the dataset with the numpy read_csv function [[]](https://www.w3schools.com/python/pandas/pandas_csv.asp).

In [1]:
# import pandas
import pandas as pd
import numpy as np
# read the dataset 
# https://www.w3schools.com/python/pandas/pandas_csv.asp
Instruction_level_italy = pd.read_csv('DataSet/Instruction_level_italy.csv')

    - Data Cleaning

It is now important clean and elaborate the dataset to being.

First I will check the dataset with the sample() function to investigate what columns we can drop.

In [2]:
# print first 5 rows  
Instruction_level_italy.sample(10)

,ITTER107,Territorio,TIPO_DATO_FOL,Tipo dato,SEXISTAT1,Sesso,ETA1,Classe di età,TITOLO_STUDIO,Titolo di studio,TIME,Seleziona periodo,Value,Flag Codes,Flags
3307,ITC,Nord-ovest,POP_15,popolazione 15 anni e oltre (migliaia),9,totale,Y25-34,25-34 anni,6,diploma 4-5 anni (maturità),2020,2020,613.404,NaN,NaN
6833,ITC,Nord-ovest,POP_15,popolazione 15 anni e oltre (migliaia),1,maschi,Y15-64,15-64 anni,3,"licenza di scuola elementare, nessun titolo di...",2020-Q4,T4-2020,121.714,NaN,NaN
4987,IT,Italia,POP_15,popolazione 15 anni e oltre (migliaia),9,totale,Y55-59,55-59 anni,99,totale,2020,2020,4565.453,NaN,NaN
8381,ITE,Centro,POP_15,popolazione 15 anni e oltre (migliaia),2,femmine,Y35-64,35-64 anni,99,totale,2020-Q1,T1-2020,2688.426,NaN,NaN
7307,ITE,Centro,POP_15,popolazione 15 anni e oltre (migliaia),9,totale,Y15-64,15-64 anni,3,"licenza di scuola elementare, nessun titolo di...",2019-Q4,T4-2019,264.631,NaN,NaN
8611,ITFG,Mezzogiorno,POP_15,popolazione 15 anni e oltre (migliaia),9,totale,Y35-64,35-64 anni,11,laurea e post-laurea,2020-Q1,T1-2020,1267.068,NaN,NaN
7729,ITCD,Nord,POP_15,popolazione 15 anni e oltre (migliaia),1,maschi,Y35-64,35-64 anni,3,"licenza di scuola elementare, nessun titolo di...",2020,2020,191.824,NaN,NaN
1658,ITC,Nord-ovest,POP_15,popolazione 15 anni e oltre (migliaia),1,maschi,Y15-24,15-24 anni,4,licenza di scuola media,2020-Q3,T3-2020,366.117,NaN,NaN
2520,ITE,Centro,POP_15,popolazione 15 anni e oltre (migliaia),2,femmine,Y20-24,20-24 anni,5,diploma 2-3 anni (qualifica professionale),2019,2019,3.586,NaN,NaN
2702,ITD,Nord-est,POP_15,popolazione 15 anni e oltre (migliaia),2,femmine,Y25-29,25-29 anni,6,diploma 4-5 anni (maturità),2019,2019,100.250,NaN,NaN

Upon examining the dataset, I have identified several columns that can be removed because they are not relevant for the analysis or because they contain redundant information.

These columns include: ['ITTER107', 'TIPO_DATO_FOL', 'SEXISTAT1', 'Tipo dato', 'ETA1', 'Classe di età', 'TITOLO_STUDIO', 'TIME', 'Flag Codes', 'Flags'].

I will use the drop() function with a variable to specify which columns to remove and update the DataFrame accordingly. We can them check the first 5 columns of the dataset with the head() function to see if the removal was successful.

In [3]:
# List of columns to be removed from the DataFrame
columns_to_be_removed = ['ITTER107', 'TIPO_DATO_FOL', 'SEXISTAT1', 'Tipo dato', 'ETA1', 'Classe di età', 'TITOLO_STUDIO', 'TIME', 'Flag Codes', 'Flags']

# Remove the specified columns from the 'Instruction_level_italy' DataFrame
Instruction_level_italy = Instruction_level_italy.drop(columns=columns_to_be_removed)

# Display the first few rows of the modified DataFrame
Instruction_level_italy.head()

,Territorio,Sesso,Titolo di studio,Seleziona periodo,Value
0,Italia,maschi,"licenza di scuola elementare, nessun titolo di...",2019,3165.895
1,Italia,maschi,"licenza di scuola elementare, nessun titolo di...",T1-2019,3211.849
2,Italia,maschi,"licenza di scuola elementare, nessun titolo di...",T2-2019,3179.996
3,Italia,maschi,"licenza di scuola elementare, nessun titolo di...",T4-2019,3113.926
4,Italia,maschi,"licenza di scuola elementare, nessun titolo di...",T3-2019,3157.808

Replace the colum name with a more understandacle meaning for english speaker using The rename() function [[]](https://www.kdnuggets.com/2022/11/4-ways-rename-pandas-columns.html).

In [6]:
# Renaming columns in a Pandas DataFrame
Instruction_level_italy.rename(
    columns={"Territorio": "Region", "Sesso": "Sex", "Titolo di studio": "Education Level","Seleziona periodo": "Year of observation" },
    inplace=True
)
# check the columns name of the dataset 
Instruction_level_italy.columns

Index(['Region', 'Sex', 'Education Level', 'Year of observation', 'Value'], dtype='object')

About the colum sex I will need to keep only female row. We can check the unique value with the function Unique().

In [7]:
# check the unique value in the column sex
Instruction_level_italy['Sex'].unique()

array(['maschi', 'femmine', 'totale'], dtype=object)

We will use the .loc [[]](https://deallen7.medium.com/using-pandas-loc-and-isin-to-filter-for-a-list-of-values-in-python-a1c862054058) function to select only the row with the specified value "femmine," and then we will update the dataset accordingly. Finally, we will replace "femmine" with "female [[]](https://www.geeksforgeeks.org/python-pandas-dataframe-replace/).

In [8]:
# keep only the rows with value "femmmine" in the sex colum
Instruction_level_italy = Instruction_level_italy.loc[Instruction_level_italy['Sex'] == 'femmine']
# replace "femmine" with "female"
Instruction_level_italy.replace(to_replace="femmine", value="Female")
# check unique value 
Instruction_level_italy['Sex'].unique()

array(['femmine'], dtype=object)

The 'Region' column, after conducting a unique() analysis, revealed redundant values. 'Italy,' 'Nord est,' and 'Nord Ovest' are already encompassed within 'Nord,' 'Centro' (Centre), and 'Mezzogiorno' (South). Consequently, I will remove the unnecessary values and rename the remaining rows for better clarity.

In [9]:
# List of values to be filtered from the 'Region' column
filter_list = ['Nord-est', 'Nord-ovest', 'Italia']

# Filter the DataFrame 'Instruction_level_italy' to exclude rows where 'Territorio' is in the 'filter_list'
Instruction_level_italy = Instruction_level_italy.loc[~Instruction_level_italy['Region'].isin(filter_list)]

# replace mezzogiorno and centro
Instruction_level_italy.replace(to_replace=["mezzogiorno", "centro"], value=["Sud", "Centre"])
# check the removal and replacement with the group by function 
filtered_grouped_data = Instruction_level_italy.groupby('Region')['Value'].sum().reset_index()
print(filtered_grouped_data)

        Region       Value
0       Centro  308497.782
1  Mezzogiorno  527195.457
2         Nord  701864.224

Regarding the column "Year", after visualising the content, I decide to keep only the more recent observation that refer to the whole 2020.

In [10]:
# check the unique value in the 'Year of observation' column.
Instruction_level_italy['Year of observation'].unique()

array(['2019', 'T1-2019', 'T2-2019', 'T4-2019', 'T3-2019', '2020',
       'T2-2020', 'T1-2020', 'T3-2020', 'T4-2020'], dtype=object)

In [14]:
# keep only the rows with value "2020" in the 'Year of observation' column
Instruction_level_italy = Instruction_level_italy.loc[Instruction_level_italy['Year of observation'] == '2020']

Finally we will need to elaborate the educational level column.

In [18]:
# display the unique value using the group by column 
Instruction_level_italy.groupby('Education Level')['Value'].sum().reset_index()

                                     Education Level      Value
0         diploma 2-3 anni (qualifica professionale)   4922.835
1                        diploma 4-5 anni (maturità)  30040.453
2                               laurea e post-laurea  16836.009
3  licenza di scuola elementare, nessun titolo di...  12148.883
4                            licenza di scuola media  28197.382
5                                             totale  92145.552

The columns represent the five different levels of education that can be attained in Italy. However, for this analysis, I intend to categorize them into the following three main levels:

- Primary education: Individuals who have completed only primary school education (typically up to 13 years of age).
- High school education: Individuals who have successfully completed high school (typically up to 19 years of age).
- Higher education: This category encompasses all forms of higher education, including degrees, bachelor's degrees, master's degrees, PhDs, and more.

In relation to the rows contain "totale", as they are not relevant for our analysis